@model List<OnlineShop.Models.CartItem>
@{
    var totalMoney = ViewBag.TotalMoney;
}
<header class="main-header header-6 ">
    <div class="site-top ">
        <div class="container">
            <div class="site-top-left">
                <div class="zorka-login-link">
                    @if(ViewBag.Username != null)
                    {
                        <span>Chào mừng @ViewBag.Username đến với Zorka Shop!</span>
                    }
                    else
                    {
                        <span>Chào mừng bạn đến với Zorka Shop!</span>
                    }

                         <a class="zorka-login-link-sign-in" href="" id="btn-login">Đăng nhập</a>
                    <span id="dash">|</span> <a class="zorka-login-link-sign-up" href="" id="btn-register">Đăng ký</a>
                    <a href="/HomeClient/LogOut" id="btn-logout" class="hide"><i class="fa fa-power-off"></i> Đăng xuất</a>
                    <input type="hidden" name="saveLogin" id="save-login" value="@ViewBag.Username"/>
                </div>
            </div>
            
        </div>
    </div>
    <div class="header-mobile">
        <div class="header-logo">
            <a href="/HomeClient/Index" title="Zorka &#8211; An intuitive fashion WordPress theme - Just another WordPress site" rel="home">
                <img src=@Url.Content("~/Images/logo.png") alt="Zorka &#8211; An intuitive fashion WordPress theme - Just another WordPress site">
            </a>
        </div>
    </div>
    <div class="header">
        <nav class="zorka-navbar" role="navigation">
            <div class="container">
                <div class="zorka-navbar-header">
                    <div class="header-logo">
                        <a href="/HomeClient/Index" title="Zorka &#8211; An intuitive fashion WordPress theme - Just another WordPress site" rel="home">
                            <img src="@Url.Content("~/Images/logo.png")" alt="Zorka &#8211; An intuitive fashion WordPress theme - Just another WordPress site">
                        </a>
                    </div>
                    <div class="search-header-wrapper">
                        <div class="search-header-inner">
                            <div class="custom-content-header">
                                <ul>
                                    <li><i class="fa fa-phone"></i>(+84) 8888 888</li>
                                    <li><i class="fa fa-envelope-o"></i>zorkashop@gmail.com</li>
                                    <li><i class="fa fa-map-marker"></i>295 Cầu Giấy, Hà Nội.</li>
                                </ul>
                            </div>
                            
                                <input class="search-input" type="text" placeholder="Let&#039;s Search" id="input-search">
                                <i class="fa fa-search"></i>
                            
                            <div class="search-header-result hide">
                                <ul>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="shopping-cart-wrapper">
                        <div class="widget_shopping_cart_content">
                            <div class="widget_shopping_cart_icon">
                                <span class="pe-7s-cart"></span>
                                <span class="amount-product">@Model.Count()</span>
                            </div>
                            <div class="cart_list_wrapper has-cart ">
                                <div class="wrap-list-item-cart">
                                    <ul class="cart_list product_list_widget " id="list-cart-item">
                                        @foreach (var item in Model)
                                        {
                                        <li id="item-cart-@item.Product.ID">
                                            <a href="/san-pham/@item.Product.MetaTitle/@item.Product.ID">
                                                <img width="180" height="180" src=@Url.Content(item.Product.MainImage) class="attachment-shop_thumbnail wp-post-image img-cart" alt="@item.Product.Name">
                                                @item.Product.Name
                                            </a>
                                            <span class="quantity">@item.Amount &times; <span class="amount">&dollar;@(item.Product.Price * (100 - item.Product.Sale) / 100)</span></span>
                                        </li>
                                        }
                                        @if (Model.Count() <= 0)
                                        {
                                        <li class="empty">
                                            <h4>Giỏ hàng rỗng!</h4>
                                            <p>Bạn hãy mua thêm sản phẩm.</p>
                                        </li>
                                        }

                                    </ul>
                                </div>

                                @if (Model.Count() > 0)
                                {
                                <p class="total"><strong>Tổng tiền:</strong> <span class="amount">&dollar;@totalMoney</span></p>
                                <p class="buttons">
                                    <a href="/Cart/Index" class="button wc-forward">Giỏ hàng</a>
                                    <button  class="button checkout wc-forward btn-checkout" id="btn-checkout">Đơn hàng</button>
                                </p>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Menu-->
            @{
                Html.RenderAction("Menu", "HomeClient");
            }
        </nav>
    </div>
</header>


<div id="zorka-popup-login-wrapper" class="modal-client">
    <!--Model login-->
    <div class="modal-login modal fade" id="modal-login">
        <div class="modal-dialog">
            <div id="zorka-popup-login-form" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Đăng nhập</h4>
                </div>
                <div class="modal-body">
                    <div class="zorka-popup-login-content">
                        <div class="form-group">
                            <label for="username">Tên đăng nhập:</label>
                            <div class="input-icon">
                                <input type="text" id="username-login" class="form-control" name="username" required="required" placeholder="Username">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Mật khẩu:</label>
                            <div class="input-icon">
                                <input type="password" id="password-login" name="password" class="form-control" required="required" placeholder="Password">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="login-message"></div>
                    </div>
                    <p class="text-danger text-center hide" id="notify-message"></p>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer-left">
                        <a href="/Admin/ResetPassword" >Quên mật khẩu?</a>
                    </div>
                    <div class="modal-footer-right">
                        <button type="button" id="btn-login-client" class="button" style="width: 100%">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Model register-->
    <div id="modal-register" class="modal-register modal fade">
        <div class="modal-dialog">
            <div id="zorka-popup-login-form" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Đăng ký tài khoản mới</h4>
                </div>
                <div class="modal-body">
                    <div class="zorka-popup-login-content">
                        <div class="form-group">
                            <label for="username">Họ tên:</label>
                            <div class="input-icon">
                                <input type="text" id="name-register" class="form-control" name="name" placeholder="Họ tên">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username">Tên đăng nhập:</label>
                            <div class="input-icon">
                                <input type="text" id="username-register" class="form-control" name="username" placeholder="Tên đăng nhập">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Mật khẩu:</label>
                            <div class="input-icon">
                                <input type="password" id="password-register" name="Password" class="form-control" placeholder="Mật khẩu">
                                <i class="fa fa-envelope"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Nhập lại mật khẩu:</label>
                            <div class="input-icon">
                                <input type="password" id="confirm-password-register" name="ConfirmPassword" class="form-control"  placeholder="Xác nhận mật khẩu">
                                <i class="fa fa-envelope"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <div class="input-icon">
                                <input type="email" id="email-register" name="email" class="form-control" placeholder="Email">
                                <i class="fa fa-envelope"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Số điện thoại:</label>
                            <div class="input-icon">
                                <input type="text" id="phone-number-register" name="phone-number" class="form-control" placeholder="Số điện thoại">
                                <i class="fa fa-envelope"></i>
                            </div>
                        </div>
                        <a href="" id="link-login" class="hide" >Đăng nhập?</a>
                        <div class="login-message text-center">
                            <p class="text-danger" id="notify-message-register"></p>
                            <p class="text-success" id="success-message-register"></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="action" value="zorka_sign_up_ajax">
                    <div class="modal-footer-right">
                        <button type="button" id="btn-register-client" class="button" style="width: 100%">Gửi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>