@model Model.EF.Order
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var listStatusOrder = (List<Model.ViewModels.StatusViewModel>)ViewBag.ListStatusOrder;
}

@section breadcrumb {
    <section class="content-header">
        <h4>Quản lý Đơn hàng</h4>
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Trang chủ</a></li>
            <li><a href="/Admin/Order/Index">Quản lý Đơn hàng</a></li>
            <li class="active">Cập nhật</li>
        </ol>
    </section>
}

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Thông tin Đơn hàng</h3>
        </div>
        @using (Html.BeginForm("Edit", "Order", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="box-body ">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Họ tên khách hàng</label>
                            @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Họ tên khách hàng", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            @Html.EditorFor(model => model.CustomerAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Địa chỉ", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.CustomerAddress, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Ngày đặt</label>
                            @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ngày đặt", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "text-danger" })
                        </div>
                       
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Số điện thoại</label>
                            @Html.EditorFor(model => model.CustomerPhone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Số điện thoại", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.CustomerPhone, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            @Html.EditorFor(model => model.CustomerEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", @type = "email", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.CustomerEmail, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Trạng thái đơn hàng</label>
                            @Html.DropDownListFor(model => model.Status, new SelectList(listStatusOrder,
           "Value", "Name", Model.Status), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                @if (TempData["EditError"] != null)
                {
                    <div class="center-block" style="width: 50%;">
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-warning"></i> Thông báo!</h4>
                            @TempData["EditError"]
                        </div>
                    </div>

                }
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary pull-right">Cập nhật</button>
                <a href="/Admin/Order/ListProduct/@Model.ID" class="btn btn-success btn-list-order-product pull-right">Danh sách sản phẩm</a>
                
            </div>



        }
</section>

