
@{
    ViewBag.Title = "Trang chủ - E-Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listProductMen = (List<Model.EF.Product>)ViewBag.ListProductMen;
    var listProductWomen = (List<Model.EF.Product>)ViewBag.ListProductWomen;
    var listProductKid = (List<Model.EF.Product>)ViewBag.ListProductKid;
    var listProductSale = (List<Model.EF.Product>)ViewBag.ListProductSale;
    var listProductNew = (List<Model.EF.Product>)ViewBag.ListProductNew;
    var listProductTopRate = (List<Model.EF.Product>)ViewBag.ListProductTopRate;
    var listProductFeature = (List<Model.EF.Product>)ViewBag.ListProductFeature;
}
@section jsFooter{
    <script src="~/Assets/Client/customJs/cart.js"></script>
}
<!--slider-->
<div class="fullwidth">
    <div class="vc_row wpb_row vc_row-fluid margin-bottom-30">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="wpb_wrapper">
                <div class="wpb_revslider_element wpb_content_element">
                    <div id="rev_slider_3_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;max-height:700px;">
                        <div id="rev_slider_3_1" class="rev_slider fullwidthabanner" style="display:none;max-height:700px;height:700px;">
                            <ul>
                                <li data-transition="random" data-slotamount="7" data-masterspeed="1000" data-delay="7000" data-saveperformance="off">
                                    <img src="http://themes.g5plus.net/zorka/wp-content/uploads/2015/03/slider-01-1.jpg" alt="slider-01-1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                    <div class="tp-caption blackzorkaclothing lfl tp-resizeme" data-x="center" data-hoffset="6" data-y="center" data-voffset="-70" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">ZORKA CLOTHING</div>
                                    <div class="tp-caption largeboldblackzk lfr tp-resizeme" data-x="center" data-hoffset="-5" data-y="center" data-voffset="-13" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">A Daisy Lady</div>
                                    <div class="tp-caption black skewfromleft ltl tp-resizeme" data-x="center" data-hoffset="-7" data-y="center" data-voffset="86" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;"><a class="zorka-button style2 button-sm" href="http://themes.g5plus.net/zorka/shop/" style="letter-spacing:0.5px;font-size:14px;line-height:1.2;border:none;"><strong>&nbsp;Shop now&nbsp;</strong></a></div>
                                </li>
                                <li data-transition="random" data-slotamount="7" data-masterspeed="1000" data-delay="7000" data-saveperformance="off">
                                    <img src="http://themes.g5plus.net/zorka/wp-content/uploads/2015/03/slider-01-2.jpg" alt="slider-01-2" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                    <div class="tp-caption zksale lfl tp-resizeme" data-x="center" data-hoffset="-109" data-y="center" data-voffset="-19" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                                        <p class="slider-text-border" style="font-weight:600;padding-right:20px;padding-left:20px;">SALE</p>
                                    </div>
                                    <div class="tp-caption zksale lfr tp-resizeme" data-x="center" data-hoffset="149" data-y="center" data-voffset="-29" data-speed="1000" data-start="1300" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">OFF</div>
                                    <div class="tp-caption zksalejanfeb lfl tp-resizeme" data-x="center" data-hoffset="-109" data-y="center" data-voffset="68" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">JAN 15 TO FEB 15</div>
                                    <div class="tp-caption zksalejanfeb lfr tp-resizeme" data-x="center" data-hoffset="149" data-y="center" data-voffset="78" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">
                                        <p class="slider-text-border" style="font-weight:600;padding-right:15px;padding-left:15px;padding-top:13px;padding-bottom:13px;">UP TO 50%</p>
                                    </div>
                                </li>
                                <li data-transition="random" data-slotamount="7" data-masterspeed="1000" data-delay="7000" data-saveperformance="off">
                                    <img src="http://themes.g5plus.net/zorka/wp-content/uploads/2015/05/slider-03-31.jpg" alt="slider-03-31" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                    <div class="tp-caption zk12c878787 lfb randomrotateout tp-resizeme" data-x="center" data-hoffset="-169" data-y="center" data-voffset="33" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget<br> augue maximus, convallis nunc a, tristique ipsum. Maecenas elementum et<br>nulla ac scelerisque. Donec nec purus massa.</div>
                                    <div class="tp-caption zkdress skewfromright tp-resizeme" data-x="center" data-hoffset="-226" data-y="center" data-voffset="-65" data-speed="1000" data-start="1000" data-easing="Quad.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
                                        DRESS UP<br>
                                        CLOTHES FIRST
                                    </div>
                                    <div class="tp-caption zkdress lfb tp-resizeme" data-x="center" data-hoffset="-334" data-y="center" data-voffset="101" data-speed="1000" data-start="1400" data-easing="Power3.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;"><a class="zorka-button style2 button-sm" href="http://themes.g5plus.net/zorka/shop/" style="letter-spacing:0.5px;font-size:14px;line-height:1.2;border:none;"><strong>&nbsp;Shop now&nbsp;</strong></a></div>
                                </li>
                            </ul>
                            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                        </div>
                        <style scoped="">
                            .tp-caption.black, .black {
                                color: #000;
                                text-shadow: none;
                            }

                            .tp-caption.blackzorkaclothing, .blackzorkaclothing {
                                font-size: 15px;
                                line-height: 21px;
                                font-weight: 600;
                                font-family: "Montserrat";
                                color: #333333;
                                text-decoration: none;
                                text-shadow: none;
                                background-color: transparent;
                                letter-spacing: 10px;
                                border-width: 0px;
                                border-color: rgb(0,0,0);
                                border-style: none;
                            }

                            .tp-caption.largeboldblackzk, .largeboldblackzk {
                                font-size: 80px;
                                line-height: 96px;
                                font-weight: 300;
                                font-family: "Merriweather";
                                color: #333333;
                                text-decoration: none;
                                background-color: transparent;
                                letter-spacing: 4px;
                                border-width: 0px;
                                border-color: rgb(255,214,88);
                                border-style: none;
                            }

                            .tp-caption.zksale, .zksale {
                                font-size: 96px;
                                line-height: 115px;
                                font-weight: 600;
                                font-family: "Montserrat";
                                color: #728091;
                                text-decoration: none;
                                text-shadow: none;
                                background-color: transparent;
                                border-width: 0px;
                                border-color: rgb(0,0,0);
                                border-style: none;
                            }

                            .tp-caption.zksalejanfeb, .zksalejanfeb {
                                font-size: 28px;
                                line-height: 35px;
                                font-weight: 600;
                                font-family: "Montserrat";
                                color: #728091;
                                text-decoration: none;
                                text-shadow: none;
                                background-color: transparent;
                                letter-spacing: 3px;
                                border-width: 0px;
                                border-color: rgb(0,0,0);
                                border-style: none;
                            }

                            .tp-caption.zkdress, .zkdress {
                                font-size: 40px;
                                line-height: 48px;
                                font-family: Montserrat;
                                font-weight: 400;
                                color: #000000;
                                text-decoration: none;
                                text-shadow: none;
                                background-color: transparent;
                                letter-spacing: 2px;
                                border-width: 0px;
                                border-color: rgb(0,0,0);
                                border-style: none;
                            }

                            .tp-caption.zk12c878787, .zk12c878787 {
                                font-size: 12px;
                                line-height: 20px;
                                font-family: Montserrat;
                                color: rgb(135,135,135);
                                text-decoration: none;
                                background-color: transparent;
                                border-width: 0px;
                                border-color: rgb(34,34,34);
                                border-style: none;
                            }
                        </style>
                        <script type="text/javascript">
                            /******************************************
                              -	PREPARE PLACEHOLDER FOR SLIDER	-
                            ******************************************/


                            var setREVStartSize = function () {
                                var tpopt = new Object();
                                tpopt.startwidth = 1170;
                                tpopt.startheight = 700;
                                tpopt.container = jQuery('#rev_slider_3_1');
                                tpopt.fullScreen = "off";
                                tpopt.forceFullWidth = "off";

                                tpopt.container.closest(".rev_slider_wrapper").css({ height: tpopt.container.height() }); tpopt.width = parseInt(tpopt.container.width(), 0); tpopt.height = parseInt(tpopt.container.height(), 0); tpopt.bw = tpopt.width / tpopt.startwidth; tpopt.bh = tpopt.height / tpopt.startheight; if (tpopt.bh > tpopt.bw) tpopt.bh = tpopt.bw; if (tpopt.bh < tpopt.bw) tpopt.bw = tpopt.bh; if (tpopt.bw < tpopt.bh) tpopt.bh = tpopt.bw; if (tpopt.bh > 1) { tpopt.bw = 1; tpopt.bh = 1 } if (tpopt.bw > 1) { tpopt.bw = 1; tpopt.bh = 1 } tpopt.height = Math.round(tpopt.startheight * (tpopt.width / tpopt.startwidth)); if (tpopt.height > tpopt.startheight && tpopt.autoHeight != "on") tpopt.height = tpopt.startheight; if (tpopt.fullScreen == "on") { tpopt.height = tpopt.bw * tpopt.startheight; var cow = tpopt.container.parent().width(); var coh = jQuery(window).height(); if (tpopt.fullScreenOffsetContainer != undefined) { try { var offcontainers = tpopt.fullScreenOffsetContainer.split(","); jQuery.each(offcontainers, function (e, t) { coh = coh - jQuery(t).outerHeight(true); if (coh < tpopt.minFullScreenHeight) coh = tpopt.minFullScreenHeight }) } catch (e) { } } tpopt.container.parent().height(coh); tpopt.container.height(coh); tpopt.container.closest(".rev_slider_wrapper").height(coh); tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(coh); tpopt.container.css({ height: "100%" }); tpopt.height = coh; } else { tpopt.container.height(tpopt.height); tpopt.container.closest(".rev_slider_wrapper").height(tpopt.height); tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(tpopt.height); }
                            };

                            /* CALL PLACEHOLDER */
                            setREVStartSize();


                            var tpj = jQuery;
                            tpj.noConflict();
                            var revapi3;

                            tpj(document).ready(function () {

                                if (tpj('#rev_slider_3_1').revolution == undefined) {
                                    revslider_showDoubleJqueryError('#rev_slider_3_1');
                                } else {
                                    revapi3 = tpj('#rev_slider_3_1').show().revolution(
                                   {
                                       dottedOverlay: "none",
                                       delay: 9000,
                                       startwidth: 1170,
                                       startheight: 700,
                                       hideThumbs: 200,

                                       thumbWidth: 100,
                                       thumbHeight: 50,
                                       thumbAmount: 3,


                                       simplifyAll: "off",

                                       navigationType: "bullet",
                                       navigationArrows: "none",
                                       navigationStyle: "round",

                                       touchenabled: "on",
                                       onHoverStop: "off",
                                       nextSlideOnWindowFocus: "off",

                                       swipe_threshold: 75,
                                       swipe_min_touches: 1,
                                       drag_block_vertical: false,



                                       keyboardNavigation: "off",

                                       navigationHAlign: "center",
                                       navigationVAlign: "bottom",
                                       navigationHOffset: 0,
                                       navigationVOffset: 20,

                                       soloArrowLeftHalign: "left",
                                       soloArrowLeftValign: "center",
                                       soloArrowLeftHOffset: 20,
                                       soloArrowLeftVOffset: 0,

                                       soloArrowRightHalign: "right",
                                       soloArrowRightValign: "center",
                                       soloArrowRightHOffset: 20,
                                       soloArrowRightVOffset: 0,

                                       shadow: 0,
                                       fullWidth: "on",
                                       fullScreen: "off",

                                       spinner: "spinner0",

                                       stopLoop: "off",
                                       stopAfterLoops: -1,
                                       stopAtSlide: -1,

                                       shuffle: "off",

                                       autoHeight: "off",
                                       forceFullWidth: "off",


                                       hideTimerBar: "on",
                                       hideThumbsOnMobile: "off",
                                       hideNavDelayOnMobile: 1500,
                                       hideBulletsOnMobile: "off",
                                       hideArrowsOnMobile: "off",
                                       hideThumbsUnderResolution: 0,

                                       hideSliderAtLimit: 0,
                                       hideCaptionAtLimit: 0,
                                       hideAllCaptionAtLilmit: 0,
                                       startWithSlide: 0
                                   });



                                }
                            });	/*ready*/

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--feauture-->
<div class="container">
    <div class="vc_row wpb_row vc_row-fluid column-equal-height">
        <div class="xs-margin-bottom-30 wpb_column vc_column_container vc_col-sm-4">
            <div class="wpb_wrapper">
                <div class="zorka-icon-box style5 ">
                    <a style="background-color:#b4666c;" class="zbox-icon" href=""><i class="pe-7s-cart"></i></a>
                    <a style="background-color:#c97278;" class="zbox-title" href="">FREE SHIPPING WORLDWIDE</a>
                </div>
            </div>
        </div>
        <div class="xs-margin-bottom-30 wpb_column vc_column_container vc_col-sm-4">
            <div class="wpb_wrapper">
                <div class="zorka-icon-box style5 ">
                    <a style="background-color:#ac9981;" class="zbox-icon" href=""><i class="pe-7s-gift"></i></a>
                    <a style="background-color:#c0ab90;" class="zbox-title" href="">GIVEAWAY EVERYWEEK</a>
                </div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="wpb_wrapper">
                <div class="zorka-icon-box style5 ">
                    <a style="background-color:#728090;" class="zbox-icon" href=""><i class="pe-7s-diamond"></i></a>
                    <a style="background-color:#7f8fa0;" class="zbox-title" href="">SALE UP TO 70% OFF ON TUESDAY</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fullwidth">
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="wpb_wrapper">
                <div class="zorka-heading style1 ">
                    <div class="content-middle-inner">
                        <h2>TRENDY CLOTHING</h2>
                        <p>Trending</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--product of each feauture-->
<div class="container">
    <div class="vc_row wpb_row vc_row-fluid margin-bottom-30">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="wpb_wrapper">
                <div class="woocommerce columns-4   trending-product" id="59180fbe8fac7">
                    <div class="tabs">
                        <ul>
                            <li class="active"><a href="javascript:;" class="isotope-filter active zorka-meta-key-feature" data-section-id="59180fbe8fac7" data-group="zorka-meta-key-feature" data-filter=".zorka-meta-key-feature">THỜI TRANG NAM</a></li>
                            <li class=""><a href="javascript:;" class="isotope-filter  clothing" data-section-id="59180fbe8fac7" data-group="clothing" data-filter=".clothing">THỜI TRANG NỮ</a></li>
                            <li class=""><a href="javascript:;" class="isotope-filter  t-shirts" data-section-id="59180fbe8fac7" data-group="t-shirts" data-filter=".t-shirts">THỜI TRANG TRẺ EM</a></li>
                        </ul>
                    </div>
                    <div class="trending-group zorka-meta-key-feature active ">
                        <div data-col="4" class="product-listing woocommerce row clearfix columns-4 product-slider">
                            <div class="owl-carousel" data-plugin-options='{"items" :4,"pagination" : false, "navigation" : true}'>

                                @foreach (var item in listProductMen)
                                {
                                    <div class="product type-product status-publish has-post-thumbnail first product-item-wrapper featured downloadable taxable shipping-taxable purchasable product-type-simple product-cat-collections product-cat-fashions product-cat-hanbags-wallets product-cat-jean-men product-cat-jewelry-diamond product-cat-posters product-cat-singles product-tag-coach product-tag-comple product-tag-jean product-tag-men product-tag-men-clothes instock">
                                        <div class="product-item-inner">
                                            <div class="product-thumb">
                                                <div class="product-images-hover change-images">
                                                    <div class="product-thumb-primary">
                                                        <img width="390" height="520" src=@Url.Content(item.MainImage) class="attachment-shop_catalog wp-post-image" alt="product-15">
                                                    </div>
                                                    <div class="product-thumb-secondary">
                                                        <img width="390" height="520" src=@Url.Content(item.MainImage) class="attachment-shop_catalog" alt="product-19">
                                                    </div>
                                                </div>
                                                <a data-toggle="tooltip" title="Quick view" class="product-quick-view" data-product_id="217" href="http://themes.g5plus.net/zorka/shop/ligula-ullamcorper/"><i class="pe-7s-search"></i></a>
                                                <a class="product-link" href="/san-pham/@item.MetaTitle/@item.ID"></a>
                                            </div>
                                            <div class="product-cat">
                                                <a href="">Jewelry Diamond</a>
                                            </div>
                                            <a class="product-name" href="/san-pham/@item.MetaTitle/@item.ID">@item.Name</a>
                                            <div class="star-rating" title="Rated 5 out of 5"><span style="width:100%"><strong class="rating">5</strong> out of 5</span></div>
                                            <span class="price"><span class="amount">&dollar;@item.Price</span></span>
                                            <div class="product-button clearfix">
                                                <div class="product-button-inner">
                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-217">
                                                        <div class="yith-wcwl-add-button hide" style="display:none">
                                                            <button data-id="@item.ID" data-amount="1" id="btn-add-to-cart" class="add_to_wishlist btn-add-to-cart">
                                                                Add to Wishlist
                                                            </button>
                                                            <img src="http://themes.g5plus.net/zorka/wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden">
                                                        </div>
                                                        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                            <span class="feedback">Product added!</span>
                                                            <a href="http://themes.g5plus.net/zorka/wishlist/view/?lang=en">
                                                                Browse Wishlist
                                                            </a>
                                                        </div>
                                                        <div class="yith-wcwl-wishlistexistsbrowse show" style="display:block">
                                                            <span class="feedback">The product is already in the wishlist!</span>
                                                            <a href="http://themes.g5plus.net/zorka/wishlist/view/?lang=en">
                                                                Browse Wishlist
                                                            </a>
                                                        </div>
                                                        <div style="clear:both"></div>
                                                        <div class="yith-wcwl-wishlistaddresponse"></div>
                                                    </div>
                                                    <div class="clear"></div>
                                                    <button data-id="@item.ID" data-amount="1" id="btn-add-to-cart-@item.ID" class="button product_type_simple add_to_cart_button ajax_add_to_cart btn-add-to-cart">
                                                        <span class="pull-left"><img id="loader-@item.ID" class="loader-add-to-cart hide" src="~/Images/ajax-loader.gif" /></span>&nbsp;
                                                        <span> Add to cart</span>
                                                    </button>
                                                    <a href="/Cart/Index" id="view-cart-@item.ID" class="added_to_cart wc-forward view-cart hide" title="View Cart">
                                                        View Cart
                                                    </a>
                                                    <a href="/zorka/home-1/?add-to-cart=215&amp;action=yith-woocompare-add-product&amp;id=217&amp;_wpnonce=c579aa135f" class="compare button" data-product_id="217">Compare</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="trending-group clothing  ">
                        <div data-col="4" class="product-listing woocommerce row clearfix columns-4 product-slider">
                            <div class="owl-carousel" data-plugin-options='{"items" :4,"pagination" : false, "navigation" : true}'>

                                @foreach (var item in listProductWomen)
                                {
                                    <div class="product type-product status-publish has-post-thumbnail first product-item-wrapper sale taxable shipping-taxable purchasable product-type-simple product-cat-autumn-collection product-cat-boat-shoes product-cat-brand-watch product-cat-briefcase product-cat-clothing product-cat-fashions product-cat-fashion-waist-packs product-cat-hanbags-wallets product-cat-hoodies product-cat-jean-men product-cat-jewelry-diamond product-cat-laptop-bags product-cat-shoes-boy product-cat-singles product-cat-watches product-cat-women product-tag-coach product-tag-men product-tag-men-clothes product-tag-products product-tag-shop product-tag-short-jean product-tag-woman-clothes instock">
                                        <div class="product-item-inner">
                                            <div class="product-thumb">
                                                <div class="product-item-feature">
                                                    @if (item.Sale > 0)
                                                    {
                                                        <div class="on-sale"><span>-@item.Sale%</span></div>
                                                    }
                                                </div>
                                                <div class="product-images-hover change-images">
                                                    <div class="product-thumb-primary">
                                                        <img width="390" height="520" src=@Url.Content(item.MainImage) class="attachment-shop_catalog wp-post-image" alt="product-23">
                                                    </div>
                                                    <div class="product-thumb-secondary">
                                                        <img width="390" height="520" src=@Url.Content(item.MainImage) class="attachment-shop_catalog" alt="product-14">
                                                    </div>
                                                </div>
                                                <a data-toggle="tooltip" title="Quick view" class="product-quick-view" data-product_id="218" href="http://themes.g5plus.net/zorka/shop/veston-for-business/"><i class="pe-7s-search"></i></a>
                                                <a class="product-link" href="/san-pham/@item.MetaTitle/@item.ID"></a>
                                            </div>
                                            <div class="product-cat">
                                                <a href="http://themes.g5plus.net/zorka/product-category/fashion-waist-packs/laptop-bags/">Laptop bags</a>
                                            </div>
                                            <a class="product-name" href="/san-pham/@item.MetaTitle/@item.ID">@item.Name</a>
                                            <div class="star-rating" title="Rated 4.67 out of 5"><span style="width:93.4%"><strong class="rating">4.67</strong> out of 5</span></div>
                                            <span class="price">
                                                @if (item.Sale > 0)
                                                {
                                                    <ins><span class="amount">&dollar;@(item.Price * (100 - item.Sale) / 100)</span></ins>
                                                }

                                                <del><span class="amount">&dollar;@item.Price</span></del>
                                            </span>
                                            <div class="product-button clearfix">
                                                <div class="product-button-inner">
                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-218">
                                                        <div class="yith-wcwl-add-button hide" style="display:none">
                                                            <a href="/zorka/home-1/?add-to-cart=215&#038;add_to_wishlist=218" rel="nofollow" data-product-id="218" data-product-type="simple" class="add_to_wishlist">
                                                                Add to Wishlist
                                                            </a>
                                                            <img src="http://themes.g5plus.net/zorka/wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden">
                                                        </div>
                                                        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                            <span class="feedback">Product added!</span>
                                                            <a href="http://themes.g5plus.net/zorka/wishlist/view/?lang=en">
                                                                Browse Wishlist
                                                            </a>
                                                        </div>
                                                        <div class="yith-wcwl-wishlistexistsbrowse show" style="display:block">
                                                            <span class="feedback">The product is already in the wishlist!</span>
                                                            <a href="http://themes.g5plus.net/zorka/wishlist/view/?lang=en">
                                                                Browse Wishlist
                                                            </a>
                                                        </div>
                                                        <div style="clear:both"></div>
                                                        <div class="yith-wcwl-wishlistaddresponse"></div>
                                                    </div>
                                                    <div class="clear"></div>
                                                    <button data-id="@item.ID" data-amount="1" id="btn-add-to-cart-@item.ID" class="button product_type_simple add_to_cart_button ajax_add_to_cart btn-add-to-cart">
                                                        <span class="pull-left"><img id="loader-@item.ID" class="loader-add-to-cart hide" src="~/Images/ajax-loader.gif" /></span>&nbsp;
                                                        <span> Add to cart</span>
                                                    </button>
                                                    <a href="/Cart/Index" id="view-cart-@item.ID" class="added_to_cart wc-forward view-cart hide" title="View Cart">
                                                        View Cart
                                                    </a>
                                                    <a href="/zorka/home-1/?add-to-cart=215&amp;action=yith-woocompare-add-product&amp;id=218&amp;_wpnonce=c579aa135f" class="compare button" data-product_id="218">Compare</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="trending-group t-shirts  ">
                        <div data-col="4" class="product-listing woocommerce row clearfix columns-4 product-slider">
                            <div class="owl-carousel" data-plugin-options='{"items" :4,"pagination" : false, "navigation" : true}'>

                                @foreach (var item in listProductKid)
                                {
                                    <div class="product type-product status-publish has-post-thumbnail first product-item-wrapper featured downloadable taxable shipping-taxable purchasable product-type-simple product-cat-accessories product-cat-boys product-cat-clothing product-cat-clothing-kid product-cat-clothings-boy product-cat-collections product-cat-fashions product-cat-fashion-waist-packs product-cat-hanbags-wallets product-cat-hat product-cat-jewelry product-cat-jewelry-diamond product-cat-laptop-bags product-cat-posters product-cat-shoes product-cat-shoes-boy product-cat-t-shirts product-cat-watches product-tag-fashion product-tag-men product-tag-men-clothes product-tag-short-jean product-tag-t-shirt instock">
                                        <div class="product-item-inner">
                                            <div class="product-thumb">
                                                <div class="product-images-hover change-images">
                                                    <div class="product-thumb-primary">
                                                        <img width="390" height="520" src=@Url.Content(item.MainImage) class="attachment-shop_catalog wp-post-image" alt="product-12">
                                                    </div>
                                                    <div class="product-thumb-secondary">
                                                        <img width="390" height="520" src=@Url.Content(item.MainImage) class="attachment-shop_catalog" alt="product-10">
                                                    </div>
                                                </div>
                                                <a data-toggle="tooltip" title="Quick view" class="product-quick-view" data-product_id="213" href="http://themes.g5plus.net/zorka/shop/t-shirt-men/"><i class="pe-7s-search"></i></a>
                                                <a class="product-link" href="/san-pham/@item.MetaTitle/@item.ID"></a>
                                            </div>
                                            <div class="product-cat">
                                                <a href="">Laptop bags</a>
                                            </div>
                                            <a class="product-name" href="/san-pham/@item.MetaTitle/@item.ID">@item.Name</a>
                                            <div class="star-rating" title="Rated 5 out of 5"><span style="width:100%"><strong class="rating">5</strong> out of 5</span></div>
                                            <span class="price"><span class="amount">&dollar;@item.Price</span></span>
                                            <div class="product-button clearfix">
                                                <div class="product-button-inner">
                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-213">
                                                        <div class="yith-wcwl-add-button hide" style="display:none">
                                                            <a href="/zorka/home-1/?add-to-cart=215&#038;add_to_wishlist=213" rel="nofollow" data-product-id="213" data-product-type="simple" class="add_to_wishlist">
                                                                Add to Wishlist
                                                            </a>
                                                            <img src="http://themes.g5plus.net/zorka/wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden">
                                                        </div>
                                                        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                            <span class="feedback">Product added!</span>
                                                            <a href="http://themes.g5plus.net/zorka/wishlist/view/?lang=en">
                                                                Browse Wishlist
                                                            </a>
                                                        </div>
                                                        <div class="yith-wcwl-wishlistexistsbrowse show" style="display:block">
                                                            <span class="feedback">The product is already in the wishlist!</span>
                                                            <a href="http://themes.g5plus.net/zorka/wishlist/view/?lang=en">
                                                                Browse Wishlist
                                                            </a>
                                                        </div>
                                                        <div style="clear:both"></div>
                                                        <div class="yith-wcwl-wishlistaddresponse"></div>
                                                    </div>
                                                    <div class="clear"></div>
                                                    <button data-id="@item.ID" data-amount="1" id="btn-add-to-cart-@item.ID" class="button product_type_simple add_to_cart_button ajax_add_to_cart btn-add-to-cart">
                                                        <span class="pull-left"><img id="loader-@item.ID" class="loader-add-to-cart hide" src="~/Images/ajax-loader.gif" /></span>&nbsp;
                                                        <span> Add to cart</span>
                                                    </button>
                                                    <a href="/Cart/Index" id="view-cart-@item.ID" class="added_to_cart wc-forward view-cart hide" title="View Cart">
                                                        View Cart
                                                    </a>
                                                    <a href="/zorka/home-1/?add-to-cart=215&amp;action=yith-woocompare-add-product&amp;id=213&amp;_wpnonce=c579aa135f" class="compare button" data-product_id="213">Compare</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">jQuery(document).ready(function () { Trending.registerTrendingFilter("59180fbe8fac7") });</script>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="xs-margin-bottom-30 wpb_column vc_column_container vc_col-sm-6">
            <div class="wpb_wrapper">
                <div class="wpb_single_image wpb_content_element vc_align_center">
                    <div class="wpb_wrapper">
                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="570" height="220" src="~/Images/banner-1.jpg" class="vc_single_image-img attachment-full" alt="banner-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-6">
            <div class="wpb_wrapper">
                <div class="wpb_single_image wpb_content_element vc_align_center">
                    <div class="wpb_wrapper">
                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="570" height="220" src="~/Images/banner-2.jpg" class="vc_single_image-img attachment-full" alt="banner-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fullwidth">
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="wpb_wrapper">
                <div class="zorka-heading style1 ">
                    <div class="content-middle-inner">
                        <h2>SALE OFF</h2>
                        <p>Up to 50%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="wpb_wrapper">
                <div class="woocommerce shortcode-product columns-4      center  ">
                    <div data-col="4" class="product-listing woocommerce row clearfix columns-4 product-slider">
                        <div class="owl-carousel" data-plugin-options='{"items" :4,"pagination" : false, "navigation" : true}'>

                            @foreach (var item in listProductSale)
                            {
                                <div class="product type-product status-publish has-post-thumbnail first product-item-wrapper sale taxable shipping-taxable purchasable product-type-simple product-cat-autumn-collection product-cat-boat-shoes product-cat-brand-watch product-cat-briefcase product-cat-clothing product-cat-fashions product-cat-fashion-waist-packs product-cat-hanbags-wallets product-cat-hoodies product-cat-jean-men product-cat-jewelry-diamond product-cat-laptop-bags product-cat-shoes-boy product-cat-singles product-cat-watches product-cat-women product-tag-coach product-tag-men product-tag-men-clothes product-tag-products product-tag-shop product-tag-short-jean product-tag-woman-clothes instock">
                                    <div class="product-item-inner">
                                        <div class="product-thumb">
                                            <div class="product-item-feature">
                                                <div class="on-sale"><span>-@item.Sale%</span></div>
                                            </div>
                                            <div class="product-images-hover change-images">
                                                <div class="product-thumb-primary">
                                                    <img width="390" height="520" src=@Url.Content(item.MainImage) class="attachment-shop_catalog wp-post-image" alt="product-23">
                                                </div>
                                                <div class="product-thumb-secondary">
                                                    <img width="390" height="520" src=@Url.Content(item.MainImage) class="attachment-shop_catalog" alt="product-14">
                                                </div>
                                            </div>
                                            <a data-toggle="tooltip" title="Quick view" class="product-quick-view" data-product_id="218" href="http://themes.g5plus.net/zorka/shop/veston-for-business/"><i class="pe-7s-search"></i></a>
                                            <a class="product-link" href="/san-pham/@item.MetaTitle/@item.ID"></a>
                                        </div>
                                        <div class="product-cat">
                                            <a href="http://themes.g5plus.net/zorka/product-category/fashion-waist-packs/laptop-bags/">Laptop bags</a>
                                        </div>
                                        <a class="product-name" href="/san-pham/@item.MetaTitle/@item.ID">@item.Name</a>
                                        <div class="star-rating" title="Rated 4.67 out of 5"><span style="width:93.4%"><strong class="rating">4.67</strong> out of 5</span></div>
                                        <span class="price">
                                            <ins><span class="amount">&dollar;@(item.Price * (100 - item.Sale) / 100)</span></ins>
                                            <del><span class="amount">&dollar;@item.Price</span></del>
                                        </span>
                                        <div class="product-button clearfix">
                                            <div class="product-button-inner">
                                                <div class="yith-wcwl-add-to-wishlist add-to-wishlist-218">
                                                    <div class="yith-wcwl-add-button hide" style="display:none">
                                                        <a href="/zorka/home-1/?add-to-cart=215&#038;add_to_wishlist=218" rel="nofollow" data-product-id="218" data-product-type="simple" class="add_to_wishlist">
                                                            Add to Wishlist
                                                        </a>
                                                        <img src="~/Images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden">
                                                    </div>
                                                    <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                        <span class="feedback">Product added!</span>
                                                        <a href="http://themes.g5plus.net/zorka/wishlist/view/?lang=en">
                                                            Browse Wishlist
                                                        </a>
                                                    </div>
                                                    <div class="yith-wcwl-wishlistexistsbrowse show" style="display:block">
                                                        <span class="feedback">The product is already in the wishlist!</span>
                                                        <a href="http://themes.g5plus.net/zorka/wishlist/view/?lang=en">
                                                            Browse Wishlist
                                                        </a>
                                                    </div>
                                                    <div style="clear:both"></div>
                                                    <div class="yith-wcwl-wishlistaddresponse"></div>
                                                </div>
                                                <div class="clear"></div>
                                                <div class="sale-off">
                                                    <button data-id="@item.ID" data-amount="1" id="btn-add-to-cart-@item.ID" class="button product_type_simple add_to_cart_button ajax_add_to_cart btn-add-to-cart">
                                                        <span class="pull-left"><img id="loader-@item.ID" class="loader-add-to-cart hide" src="~/Images/ajax-loader.gif" /></span>&nbsp;
                                                        <span> Add to cart</span>
                                                    </button>
                                                    <a href="/Cart/Index" id="view-cart-@item.ID" class="added_to_cart wc-forward view-cart hide" title="View Cart">
                                                        View Cart
                                                    </a>
                                                </div>

                                                <a href="/zorka/home-1/?add-to-cart=215&amp;action=yith-woocompare-add-product&amp;id=218&amp;_wpnonce=c579aa135f" class="compare button" data-product_id="218">Compare</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fullwidth">
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1427700579120">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="wpb_wrapper">
                <div class="container">
                    <div class="vc_row wpb_row vc_inner vc_row-fluid wrap-product-type">
                        <div class="wpb_column vc_column_container vc_col-sm-4 type-product-cart">
                            <div class="wpb_wrapper">
                                <div class="woocommerce shortcode-product columns-5     product-style-two center zorka-padding-15 " style="background-color:#ffffff">
                                    <div class="title-shortcode">
                                        <h2>Sản phẩm mới</h2>
                                    </div>
                                    <div data-col="5" class="product-listing woocommerce row clearfix columns-5">

                                        @foreach (var item in listProductNew)
                                        {
                                            <div class="product type-product status-publish has-post-thumbnail first product-item-wrapper sale taxable shipping-taxable purchasable product-type-simple product-cat-autumn-collection product-cat-boat-shoes product-cat-brand-watch product-cat-briefcase product-cat-clothing product-cat-fashions product-cat-fashion-waist-packs product-cat-hanbags-wallets product-cat-hoodies product-cat-jean-men product-cat-jewelry-diamond product-cat-laptop-bags product-cat-shoes-boy product-cat-singles product-cat-watches product-cat-women product-tag-coach product-tag-men product-tag-men-clothes product-tag-products product-tag-shop product-tag-short-jean product-tag-woman-clothes instock">
                                                <div class="product-item-inner second-style">
                                                    <div class="product-thumb">
                                                        <div class="product-item-feature">
                                                            @if (item.Sale > 0)
                                                            {
                                                                <div class="on-sale"><span>-@item.Sale%</span></div>
                                                            }

                                                        </div>
                                                        <div class="product-images-hover change-images">
                                                            <div class="product-thumb-primary">
                                                                <img src=@Url.Content(item.MainImage) class="attachment-shop_catalog wp-post-image img-responsive" alt="product-23">
                                                            </div>
                                                            <div class="product-thumb-secondary">
                                                                <img src=@Url.Content(item.MainImage) class="attachment-shop_catalog img-responsive" alt="product-14">
                                                            </div>
                                                        </div>
                                                        <a data-toggle="tooltip" title="Quick view" class="product-quick-view" data-product_id="218" href="http://themes.g5plus.net/zorka/shop/veston-for-business/"><i class="pe-7s-search"></i></a>
                                                        <a class="product-link" href="/san-pham/@item.MetaTitle/@item.ID"></a>
                                                    </div>
                                                    <div class="product-info">
                                                        <a class="product-name" href="/san-pham/@item.MetaTitle/@item.ID">@item.Name</a>
                                                        <div class="star-rating" title="Rated 4.67 out of 5"><span style="width:93.4%"><strong class="rating">4.67</strong> out of 5</span></div>
                                                        <span class="price">
                                                            @if (item.Sale > 0)
                                                            {
                                                                <ins><span class="amount">&dollar;@(item.Price * (100 - item.Sale) / 100)</span></ins>
                                                            }

                                                            <del><span class="amount">&dollar;@item.Price</span></del>
                                                        </span>
                                                        <div class="product-button product-add-to-cart-icon clearfix">
                                                            <div class="wrap-btn-icon">
                                                                <button data-id="@item.ID" data-amount="1" id="btn-icon-@item.ID" data-toggle="tooltip"  data-placement="top"  title="Add To Cart" class="add_to_cart_btn btn-add-to-cart "></button>
                                                                <a href="/Cart/Index" id="view-cart-@item.ID" class="btn added_to_cart wc-forward view-cart hide" data-toggle="tooltip"  data-placement="top" title="View Cart">

                                                                </a>
                                                            </div>
                                                            <a href="/zorka/home-1/?add-to-cart=215&amp;action=yith-woocompare-add-product&amp;id=218&amp;_wpnonce=c579aa135f" class="compare button" data-product_id="218">Compare</a>
                                                            <div class="yith-wcwl-add-to-wishlist add-to-wishlist-218">
                                                                <div class="yith-wcwl-add-button hide" style="display:none">
                                                                    <a href="/zorka/home-1/?add-to-cart=215&#038;add_to_wishlist=218" rel="nofollow" data-product-id="218" data-product-type="simple" class="add_to_wishlist">
                                                                        Add to Wishlist
                                                                    </a>
                                                                    <img src="http://themes.g5plus.net/zorka/wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden">
                                                                </div>
                                                                <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                    <span class="feedback">Product added!</span>
                                                                    <a href="http://themes.g5plus.net/zorka/wishlist/view/?lang=en">
                                                                        Browse Wishlist
                                                                    </a>
                                                                </div>
                                                                <div class="yith-wcwl-wishlistexistsbrowse show" style="display:block">
                                                                    <span class="feedback">The product is already in the wishlist!</span>
                                                                    <a href="http://themes.g5plus.net/zorka/wishlist/view/?lang=en">
                                                                        Browse Wishlist
                                                                    </a>
                                                                </div>
                                                                <div style="clear:both"></div>
                                                                <div class="yith-wcwl-wishlistaddresponse"></div>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="wpb_wrapper">
                                <div class="woocommerce shortcode-product columns-5     product-style-two center zorka-padding-15 " style="background-color:#ffffff">
                                    <div class="title-shortcode">
                                        <h2>Sản phẩm bán chạy</h2>
                                    </div>
                                    <div data-col="5" class="product-listing woocommerce row clearfix columns-5">

                                        @foreach (var item in listProductFeature)
                                        {
                                            <div class="product type-product status-publish has-post-thumbnail first product-item-wrapper featured downloadable taxable shipping-taxable purchasable product-type-simple product-cat-collections product-cat-fashions product-cat-hanbags-wallets product-cat-jean-men product-cat-jewelry-diamond product-cat-posters product-cat-singles product-tag-coach product-tag-comple product-tag-jean product-tag-men product-tag-men-clothes instock">
                                                <div class="product-item-inner second-style">
                                                    <div class="product-thumb">
                                                        <div class="product-images-hover change-images">
                                                            <div class="product-thumb-primary">
                                                                <img width="390" height="520" src=@Url.Content(item.MainImage) class="attachment-shop_catalog wp-post-image" alt="product-15">
                                                            </div>
                                                            <div class="product-thumb-secondary">
                                                                <img width="390" height="520" src=@Url.Content(item.MainImage) class="attachment-shop_catalog" alt="product-19">
                                                            </div>
                                                        </div>
                                                        <a data-toggle="tooltip" title="Quick view" class="product-quick-view" data-product_id="217" href="http://themes.g5plus.net/zorka/shop/ligula-ullamcorper/"><i class="pe-7s-search"></i></a>
                                                        <a class="product-link" href="/san-pham/@item.MetaTitle/@item.ID"></a>
                                                    </div>
                                                    <div class="product-info">
                                                        <a class="product-name" href="/san-pham/@item.MetaTitle/@item.ID">@item.Name</a>
                                                        <div class="star-rating" title="Rated 5 out of 5"><span style="width:100%"><strong class="rating">5</strong> out of 5</span></div>
                                                        <span class="price">
                                                            <span class="amount">&dollar;@item.Price</span>
                                                        </span>
                                                        <div class="product-button product-add-to-cart-icon clearfix">
                                                            <div class="wrap-btn-icon">
                                                                <button data-id="@item.ID" data-amount="1" id="btn-icon-@item.ID" data-toggle="tooltip" data-placement="top" title="Add To Cart" class="add_to_cart_btn btn-add-to-cart "></button>
                                                                <a href="/Cart/Index" id="view-cart-@item.ID" class="btn added_to_cart wc-forward view-cart hide" data-toggle="tooltip" data-placement="top" title="View Cart">

                                                                </a>
                                                            </div>

                                                            <a href="/zorka/home-1/?add-to-cart=215&amp;action=yith-woocompare-add-product&amp;id=217&amp;_wpnonce=c579aa135f" class="compare button" data-product_id="217">Compare</a>
                                                            <div class="yith-wcwl-add-to-wishlist add-to-wishlist-217">
                                                                <div class="yith-wcwl-add-button hide" style="display:none">
                                                                    <a href="/zorka/home-1/?add-to-cart=215&#038;add_to_wishlist=217" rel="nofollow" data-product-id="217" data-product-type="simple" class="add_to_wishlist">
                                                                        Add to Wishlist
                                                                    </a>
                                                                    <img src="http://themes.g5plus.net/zorka/wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden">
                                                                </div>
                                                                <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                    <span class="feedback">Product added!</span>
                                                                    <a href="http://themes.g5plus.net/zorka/wishlist/view/?lang=en">
                                                                        Browse Wishlist
                                                                    </a>
                                                                </div>
                                                                <div class="yith-wcwl-wishlistexistsbrowse show" style="display:block">
                                                                    <span class="feedback">The product is already in the wishlist!</span>
                                                                    <a href="http://themes.g5plus.net/zorka/wishlist/view/?lang=en">
                                                                        Browse Wishlist
                                                                    </a>
                                                                </div>
                                                                <div style="clear:both"></div>
                                                                <div class="yith-wcwl-wishlistaddresponse"></div>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="wpb_wrapper">
                                <div class="woocommerce shortcode-product columns-5     product-style-two center zorka-padding-15 " style="background-color:#ffffff">
                                    <div class="title-shortcode">
                                        <h2>Top rated</h2>
                                    </div>
                                    <div data-col="5" class="product-listing woocommerce row clearfix columns-5">

                                        @foreach (var item in listProductTopRate)
                                        {
                                            <div class="product type-product status-publish has-post-thumbnail first product-item-wrapper featured downloadable taxable shipping-taxable purchasable product-type-simple product-cat-collections product-cat-fashions product-cat-hanbags-wallets product-cat-jean-men product-cat-jewelry-diamond product-cat-posters product-cat-singles product-tag-coach product-tag-comple product-tag-jean product-tag-men product-tag-men-clothes instock">
                                                <div class="product-item-inner second-style">
                                                    <div class="product-thumb">
                                                        <div class="product-images-hover change-images">
                                                            <div class="product-thumb-primary">
                                                                <img width="390" height="520" src=@Url.Content(item.MainImage) class="attachment-shop_catalog wp-post-image" alt="product-15">
                                                            </div>
                                                            <div class="product-thumb-secondary">
                                                                <img width="390" height="520" src=@Url.Content(item.MainImage) class="attachment-shop_catalog" alt="product-19">
                                                            </div>
                                                        </div>
                                                        <a data-toggle="tooltip" title="Quick view" class="product-quick-view" data-product_id="217" href="http://themes.g5plus.net/zorka/shop/ligula-ullamcorper/"><i class="pe-7s-search"></i></a>
                                                        <a class="product-link" href="/san-pham/@item.MetaTitle/@item.ID"></a>
                                                    </div>
                                                    <div class="product-info">
                                                        <a class="product-name" href="/san-pham/@item.MetaTitle/@item.ID">@item.Name</a>
                                                        <div class="star-rating" title="Rated 5 out of 5"><span style="width:100%"><strong class="rating">5</strong> out of 5</span></div>
                                                        <span class="price"><span class="amount">&dollar;@item.Price</span></span>
                                                        <div class="product-button product-add-to-cart-icon clearfix">
                                                            <div class="wrap-btn-icon">
                                                                <button data-id="@item.ID" data-amount="1" id="btn-icon-@item.ID" data-toggle="tooltip" data-placement="top" title="Add To Cart" class="add_to_cart_btn btn-add-to-cart "></button>
                                                                <a href="/Cart/Index" id="view-cart-@item.ID" class="btn added_to_cart wc-forward view-cart hide" data-toggle="tooltip" data-placement="top" title="View Cart">

                                                                </a>
                                                            </div>
                                                            <a href="/zorka/home-1/?add-to-cart=215&amp;action=yith-woocompare-add-product&amp;id=217&amp;_wpnonce=c579aa135f" class="compare button" data-product_id="217">Compare</a>
                                                            <div class="yith-wcwl-add-to-wishlist add-to-wishlist-217">
                                                                <div class="yith-wcwl-add-button hide" style="display:none">
                                                                    <a href="/zorka/home-1/?add-to-cart=215&#038;add_to_wishlist=217" rel="nofollow" data-product-id="217" data-product-type="simple" class="add_to_wishlist">
                                                                        Add to Wishlist
                                                                    </a>
                                                                    <img src="http://themes.g5plus.net/zorka/wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden">
                                                                </div>
                                                                <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                    <span class="feedback">Product added!</span>
                                                                    <a href="http://themes.g5plus.net/zorka/wishlist/view/?lang=en">
                                                                        Browse Wishlist
                                                                    </a>
                                                                </div>
                                                                <div class="yith-wcwl-wishlistexistsbrowse show" style="display:block">
                                                                    <span class="feedback">The product is already in the wishlist!</span>
                                                                    <a href="http://themes.g5plus.net/zorka/wishlist/view/?lang=en">
                                                                        Browse Wishlist
                                                                    </a>
                                                                </div>
                                                                <div style="clear:both"></div>
                                                                <div class="yith-wcwl-wishlistaddresponse"></div>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="wpb_wrapper">
                <div class="zorka-heading style1 ">
                    <div class="content-middle-inner">
                        <h2>BLOG UPDATES</h2>
                        <p>Our stories</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="wpb_wrapper">
                <div class="zorka-latest-post style1 ">
                    <div class="row">
                        <div class="latest-post-item  col-lg-6 col-md-6 col-sm-12  col-xs-12">
                            <div class="zorka-latest-post-image">
                                <div class="entry-thumbnail">
                                    <a href="http://themes.g5plus.net/zorka/zorka-men-springsummer-vacation/" title="Zorka Men Spring/Summer Vacation">
                                        <img width="230" height="170" class="img-responsive" src="http://themes.g5plus.net/zorka/wp-content/uploads/2015/03/blog-01-230x170.jpg" alt="Zorka Men Spring/Summer Vacation">
                                    </a>
                                </div>
                            </div>
                            <div class="zorka-latest-post-content">
                                <a class="zorka-latest-post-title" href="http://themes.g5plus.net/zorka/zorka-men-springsummer-vacation/" rel="bookmark" title="Zorka Men Spring/Summer Vacation">Zorka Men Spring/Summer Vacation</a>
                                <span class="zorka-latest-post-date zorka-latest-post-meta"><a href="http://themes.g5plus.net/zorka/zorka-men-springsummer-vacation/" rel="bookmark" title="Zorka Men Spring/Summer Vacation"> March 26, 2015 </a></span>
                                <span class="zorka-latest-post-author zorka-latest-post-meta"><a href="http://themes.g5plus.net/zorka/author/admin/">admin</a></span>
                                <span class="zorka-latest-post-comment-count zorka-latest-post-meta">
                                    <a href="http://themes.g5plus.net/zorka/zorka-men-springsummer-vacation/#respond" title="Comment on Zorka Men Spring/Summer Vacation">0 Comment</a>
                                </span>
                                <p>Now, what better way is there to get clothing you’re sure to love than by making it yourself? Did you know that there are clubs you can join that will not only teach you how to make some spiffy duds, but will also allow you to make some friends at the same time?</p>
                                <a class="zorka-latest-post-read-more" href="http://themes.g5plus.net/zorka/zorka-men-springsummer-vacation/" rel="bookmark" title="Read more">Read more</a>
                            </div>
                        </div>
                        <div class="latest-post-item  col-lg-6 col-md-6 col-sm-12  col-xs-12">
                            <div class="zorka-latest-post-image">
                                <div class='owl-carousel' data-plugin-options='{"singleItem" : true, "pagination" : false, "navigation" : true, "autoHeight" : true}'>
                                    <div class="entry-thumbnail">
                                        <a href="http://themes.g5plus.net/zorka/white-vintage-back-pack-for-girl/" title="White Vintage Back Pack For Girl">
                                            <img width="230" height="170" class="img-responsive" src="http://themes.g5plus.net/zorka/wp-content/uploads/2015/03/blog-02-230x170.jpg" alt="White Vintage Back Pack For Girl">
                                        </a>
                                    </div>
                                    <div class="entry-thumbnail">
                                        <a href="http://themes.g5plus.net/zorka/white-vintage-back-pack-for-girl/" title="White Vintage Back Pack For Girl">
                                            <img width="230" height="170" class="img-responsive" src="http://themes.g5plus.net/zorka/wp-content/uploads/2015/03/blog-05-230x170.jpg" alt="White Vintage Back Pack For Girl">
                                        </a>
                                    </div>
                                    <div class="entry-thumbnail">
                                        <a href="http://themes.g5plus.net/zorka/white-vintage-back-pack-for-girl/" title="White Vintage Back Pack For Girl">
                                            <img width="230" height="170" class="img-responsive" src="http://themes.g5plus.net/zorka/wp-content/uploads/2015/03/blog-06-230x170.jpg" alt="White Vintage Back Pack For Girl">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="zorka-latest-post-content">
                                <a class="zorka-latest-post-title" href="http://themes.g5plus.net/zorka/white-vintage-back-pack-for-girl/" rel="bookmark" title="White Vintage Back Pack For Girl">White Vintage Back Pack For Girl</a>
                                <span class="zorka-latest-post-date zorka-latest-post-meta"><a href="http://themes.g5plus.net/zorka/white-vintage-back-pack-for-girl/" rel="bookmark" title="White Vintage Back Pack For Girl"> March 26, 2015 </a></span>
                                <span class="zorka-latest-post-author zorka-latest-post-meta"><a href="http://themes.g5plus.net/zorka/author/admin/">admin</a></span>
                                <span class="zorka-latest-post-comment-count zorka-latest-post-meta">
                                    <a href="http://themes.g5plus.net/zorka/white-vintage-back-pack-for-girl/#comments" title="Comment on White Vintage Back Pack For Girl">3 Comments</a>
                                </span>
                                <p>Swap clothes with your friends. Crazy thought, right? But really. Think about it. Sometimes you’re sick of wearing something while your best friend has been secretly eyeing that top for years, waiting for you to be done with it.</p>
                                <a class="zorka-latest-post-read-more" href="http://themes.g5plus.net/zorka/white-vintage-back-pack-for-girl/" rel="bookmark" title="Read more">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fullwidth">
    <div data-vc-parallax="1.5" class="vc_row wpb_row vc_row-fluid vc_custom_1444360272531 vc_general vc_parallax vc_parallax-content-moving">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="wpb_wrapper">
                <div class="zorka-mailchimp style1  ">
                    <div class="content-middle-inner">
                        <i class="pe-7s-mail"></i>
                        <h5>SUBSCRIBE</h5>
                        <p>Get the latest news &amp; updates from Zorka</p>
                        <div id="mc4wp-form-1" class="form mc4wp-form">
                            <form method="post"><input type="email" id="mc4wp_email" name="EMAIL" placeholder="Your Email Address" required=""><input type="submit" value="SUBSCRIBE"><input type="text" name="_mc4wp_required_but_not_really" value=""><input type="hidden" name="_mc4wp_timestamp" value="1494749118"><input type="hidden" name="_mc4wp_form_submit" value="1"><input type="hidden" name="_mc4wp_form_instance" value="1"><input type="hidden" name="_mc4wp_form_nonce" value="ba2fd8665b"></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fullwidth">
    <div class="vc_row wpb_row vc_row-fluid margin-bottom-40 margin-top-40">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="wpb_wrapper">
                <div class="zorka-partner-carousel   container">
                    <div class="owl-carousel" data-plugin-options='{"items" : 5, "autoPlay": false,"pagination": false}'>
                        <div class="content-middle-inner"><img width="114" height="96" src="http://themes.g5plus.net/zorka/wp-content/uploads/2015/03/partner1.png" class="attachment-full" alt="partner1"></div>
                        <div class="content-middle-inner"><img width="115" height="96" src="http://themes.g5plus.net/zorka/wp-content/uploads/2015/03/partner2.png" class="attachment-full" alt="partner2"></div>
                        <div class="content-middle-inner"><img width="115" height="96" src="http://themes.g5plus.net/zorka/wp-content/uploads/2015/03/partner3.png" class="attachment-full" alt="partner3"></div>
                        <div class="content-middle-inner"><img width="115" height="96" src="http://themes.g5plus.net/zorka/wp-content/uploads/2015/03/partner4.png" class="attachment-full" alt="partner4"></div>
                        <div class="content-middle-inner"><img width="115" height="96" src="http://themes.g5plus.net/zorka/wp-content/uploads/2015/03/partner5.png" class="attachment-full" alt="partner5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fullwidth">
    <div class="vc_row wpb_row vc_row-fluid margin-bottom-50">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="wpb_wrapper">
                <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text"><span class="vc_sep_holder vc_sep_holder_l"><span style="border-color:#eeeeee;" class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span style="border-color:#eeeeee;" class="vc_sep_line"></span></span></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="vc_row wpb_row vc_row-fluid margin-bottom-20 column-equal-height">
        <div class="col-md-4 col-sm-12 col-xs-12 margin-bottom-30 wpb_column vc_column_container vc_col-sm-4">
            <div class="wpb_wrapper">
                <div class="zorka-icon-box style3 ">
                    <a class="zbox-icon" href=""><i class="pe-7s-alarm"></i></a>
                    <a class="zbox-title" href="">OPENING ALL WEEK</a>
                    <p>8AM : 8PM</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 margin-bottom-30 wpb_column vc_column_container vc_col-sm-4">
            <div class="wpb_wrapper">
                <div class="zorka-icon-box style3 ">
                    <a class="zbox-icon" href=""><i class="pe-7s-medal"></i></a>
                    <a class="zbox-title" href="">25% OFF WOMEN T-SHIRT</a>
                    <p>On order over 500USD</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 margin-bottom-30 wpb_column vc_column_container vc_col-sm-4">
            <div class="wpb_wrapper">
                <div class="zorka-icon-box style3 ">
                    <a class="zbox-icon" href=""><i class="pe-7s-world"></i></a>
                    <a class="zbox-title" href="">FREE SHIP ALL ORDER</a>
                    <p>Worldwide shipping</p>
                </div>
            </div>
        </div>
    </div>
</div>

