
@{
    ViewBag.Title = "Trang chủ - E-Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listProductMen = (List<Model.EF.Product>)ViewBag.ListProductMen;
    var listProductWomen = (List<Model.EF.Product>)ViewBag.ListProductWomen;
    var listProductKid = (List<Model.EF.Product>)ViewBag.ListProductKid;
    var listProductSale = (List<Model.EF.Product>)ViewBag.ListProductSale;
    var listProductNew = (List<Model.EF.Product>)ViewBag.ListProductNew;
    var listProductTopRate = (List<Model.EF.Product>)ViewBag.ListProductTopRate;
    var listProductFeature = (List<Model.EF.Product>)ViewBag.ListProductFeature;
}
@section jsFooter{
    <script src="~/Assets/Client/customJs/cart.js"></script>
}
<!--slider-->
@Html.Partial("Slider")
<!--feauture-->
<div class="container">
    <div class="vc_row wpb_row vc_row-fluid column-equal-height">
        <div class="xs-margin-bottom-30 wpb_column vc_column_container vc_col-sm-4">
            <div class="wpb_wrapper">
                <div class="zorka-icon-box style5 ">
                    <a style="background-color:#b4666c;" class="zbox-icon" href=""><i class="pe-7s-cart"></i></a>
                    <a style="background-color:#c97278;" class="zbox-title" href="">MIỄN PHÍ GIAO HÀNG TRÊN CẢ NƯỚC</a>
                </div>
            </div>
        </div>
        <div class="xs-margin-bottom-30 wpb_column vc_column_container vc_col-sm-4">
            <div class="wpb_wrapper">
                <div class="zorka-icon-box style5 ">
                    <a style="background-color:#ac9981;" class="zbox-icon" href=""><i class="pe-7s-gift"></i></a>
                    <a style="background-color:#c0ab90;" class="zbox-title" href="">LÀM VIỆC CÁC NGÀY TRONG TUẦN</a>
                </div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="wpb_wrapper">
                <div class="zorka-icon-box style5 ">
                    <a style="background-color:#728090;" class="zbox-icon" href=""><i class="pe-7s-diamond"></i></a>
                    <a style="background-color:#7f8fa0;" class="zbox-title" href="">SALE UP TO 70% OFF VÀO THỨ 6</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fullwidth">
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="wpb_wrapper">
                <div class="zorka-heading style1 ">
                    <div class="content-middle-inner">
                        <h2>THỜI TRANG HOT</h2>
                        <p>Hot Clothing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--product of each feauture-->
<div class="container">
    <div class="vc_row wpb_row vc_row-fluid margin-bottom-30">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="wpb_wrapper">
                <div class="woocommerce columns-4   trending-product" id="59180fbe8fac7">
                    <div class="tabs">
                        <ul>
                            <li class="active"><a href="javascript:;" class="isotope-filter active zorka-meta-key-feature" data-section-id="59180fbe8fac7" data-group="zorka-meta-key-feature" data-filter=".zorka-meta-key-feature">THỜI TRANG NAM</a></li>
                            <li class=""><a href="javascript:;" class="isotope-filter  clothing" data-section-id="59180fbe8fac7" data-group="clothing" data-filter=".clothing">THỜI TRANG NỮ</a></li>
                            <li class=""><a href="javascript:;" class="isotope-filter  t-shirts" data-section-id="59180fbe8fac7" data-group="t-shirts" data-filter=".t-shirts">THỜI TRANG TRẺ EM</a></li>
                        </ul>
                    </div>
                    <div class="trending-group zorka-meta-key-feature active ">
                        <div data-col="4" class="product-listing woocommerce row clearfix columns-4 product-slider">
                            <div class="owl-carousel" data-plugin-options='{"items" :4,"pagination" : false, "navigation" : true}'>

                                @foreach (var item in listProductMen)
                                {
                                    <div class="product type-product status-publish has-post-thumbnail first product-item-wrapper featured downloadable taxable shipping-taxable purchasable product-type-simple product-cat-collections product-cat-fashions product-cat-hanbags-wallets product-cat-jean-men product-cat-jewelry-diamond product-cat-posters product-cat-singles product-tag-coach product-tag-comple product-tag-jean product-tag-men product-tag-men-clothes instock">
                                        <div class="product-item-inner">
                                            <div class="product-thumb">
                                                <div class="product-images-hover change-images">
                                                    <div class="product-thumb-primary">
                                                        <img width="390" height="520" src=@Url.Content(item.MainImage) class="attachment-shop_catalog wp-post-image main-image-product" alt="product-15">
                                                    </div>
                                                   
                                                </div>
                                                <a class="product-link" href="/san-pham/@item.MetaTitle/@item.ID"></a>
                                            </div>
                                            <a class="product-name" href="/san-pham/@item.MetaTitle/@item.ID">@item.Name</a>
                                            <span class="price"><span class="amount">&dollar;@item.Price</span></span>
                                            <div class="product-button clearfix">
                                                <div class="product-button-inner">
                                                    <div class="clear"></div>
                                                    <button data-id="@item.ID" data-amount="1" id="btn-add-to-cart-@item.ID" class="button product_type_simple add_to_cart_button ajax_add_to_cart btn-add-to-cart">
                                                        <span class="pull-left"><img id="loader-@item.ID" class="loader-add-to-cart hide" src="~/Images/ajax-loader.gif" /></span>&nbsp;
                                                        <span> Add to cart</span>
                                                    </button>
                                                    <a href="/Cart/Index" id="view-cart-@item.ID" class="added_to_cart wc-forward view-cart hide" title="View Cart">
                                                        View Cart
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="trending-group clothing  ">
                        <div data-col="4" class="product-listing woocommerce row clearfix columns-4 product-slider">
                            <div class="owl-carousel" data-plugin-options='{"items" :4,"pagination" : false, "navigation" : true}'>

                                @foreach (var item in listProductWomen)
                                {
                                    <div class="product type-product status-publish has-post-thumbnail first product-item-wrapper sale taxable shipping-taxable purchasable product-type-simple product-cat-autumn-collection product-cat-boat-shoes product-cat-brand-watch product-cat-briefcase product-cat-clothing product-cat-fashions product-cat-fashion-waist-packs product-cat-hanbags-wallets product-cat-hoodies product-cat-jean-men product-cat-jewelry-diamond product-cat-laptop-bags product-cat-shoes-boy product-cat-singles product-cat-watches product-cat-women product-tag-coach product-tag-men product-tag-men-clothes product-tag-products product-tag-shop product-tag-short-jean product-tag-woman-clothes instock">
                                        <div class="product-item-inner">
                                            <div class="product-thumb">
                                                <div class="product-item-feature">
                                                    @if (item.Sale > 0)
                                                    {
                                                        <div class="on-sale"><span>-@item.Sale%</span></div>
                                                    }
                                                </div>
                                                <div class="product-images-hover change-images">
                                                    <div class="product-thumb-primary">
                                                        <img width="390" height="520" src=@Url.Content(item.MainImage) class="attachment-shop_catalog wp-post-image main-image-product" alt="product-23">
                                                    </div>
                                                   
                                                </div>
                                                <a class="product-link" href="/san-pham/@item.MetaTitle/@item.ID"></a>
                                            </div>
                                            <a class="product-name" href="/san-pham/@item.MetaTitle/@item.ID">@item.Name</a>
                                            <span class="price">
                                                @if (item.Sale > 0)
                                                {
                                                    <ins><span class="amount">&dollar;@(item.Price * (100 - item.Sale) / 100)</span></ins>
                                                }

                                                <del><span class="amount">&dollar;@item.Price</span></del>
                                            </span>
                                            <div class="product-button clearfix">
                                                <div class="product-button-inner">
                                                    <div class="clear"></div>
                                                    <button data-id="@item.ID" data-amount="1" id="btn-add-to-cart-@item.ID" class="button product_type_simple add_to_cart_button ajax_add_to_cart btn-add-to-cart">
                                                        <span class="pull-left"><img id="loader-@item.ID" class="loader-add-to-cart hide" src="~/Images/ajax-loader.gif" /></span>&nbsp;
                                                        <span> Add to cart</span>
                                                    </button>
                                                    <a href="/Cart/Index" id="view-cart-@item.ID" class="added_to_cart wc-forward view-cart hide" title="View Cart">
                                                        View Cart
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="trending-group t-shirts  ">
                        <div data-col="4" class="product-listing woocommerce row clearfix columns-4 product-slider">
                            <div class="owl-carousel" data-plugin-options='{"items" :4,"pagination" : false, "navigation" : true}'>

                                @foreach (var item in listProductKid)
                                {
                                    <div class="product type-product status-publish has-post-thumbnail first product-item-wrapper featured downloadable taxable shipping-taxable purchasable product-type-simple product-cat-accessories product-cat-boys product-cat-clothing product-cat-clothing-kid product-cat-clothings-boy product-cat-collections product-cat-fashions product-cat-fashion-waist-packs product-cat-hanbags-wallets product-cat-hat product-cat-jewelry product-cat-jewelry-diamond product-cat-laptop-bags product-cat-posters product-cat-shoes product-cat-shoes-boy product-cat-t-shirts product-cat-watches product-tag-fashion product-tag-men product-tag-men-clothes product-tag-short-jean product-tag-t-shirt instock">
                                        <div class="product-item-inner">
                                            <div class="product-thumb">
                                                <div class="product-images-hover change-images">
                                                    <div class="product-thumb-primary">
                                                        <img width="390" height="520" src=@Url.Content(item.MainImage) class="attachment-shop_catalog wp-post-image  main-image-product" alt="product-12">
                                                    </div>
                                                  
                                                </div>
                                                <a class="product-link" href="/san-pham/@item.MetaTitle/@item.ID"></a>
                                            </div>
                                            <a class="product-name" href="/san-pham/@item.MetaTitle/@item.ID">@item.Name</a>
                                            <span class="price"><span class="amount">&dollar;@item.Price</span></span>
                                            <div class="product-button clearfix">
                                                <div class="product-button-inner">
                                                    <div class="clear"></div>
                                                    <button data-id="@item.ID" data-amount="1" id="btn-add-to-cart-@item.ID" class="button product_type_simple add_to_cart_button ajax_add_to_cart btn-add-to-cart">
                                                        <span class="pull-left"><img id="loader-@item.ID" class="loader-add-to-cart hide" src="~/Images/ajax-loader.gif" /></span>&nbsp;
                                                        <span> Add to cart</span>
                                                    </button>
                                                    <a href="/Cart/Index" id="view-cart-@item.ID" class="added_to_cart wc-forward view-cart hide" title="View Cart">
                                                        View Cart
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">jQuery(document).ready(function () { Trending.registerTrendingFilter("59180fbe8fac7") });</script>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="xs-margin-bottom-30 wpb_column vc_column_container vc_col-sm-6">
            <div class="wpb_wrapper">
                <div class="wpb_single_image wpb_content_element vc_align_center">
                    <div class="wpb_wrapper">
                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="570" height="220" src="~/Images/banner-1.jpg" class="vc_single_image-img attachment-full" alt="banner-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-6">
            <div class="wpb_wrapper">
                <div class="wpb_single_image wpb_content_element vc_align_center">
                    <div class="wpb_wrapper">
                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="570" height="220" src="~/Images/banner-2.jpg" class="vc_single_image-img attachment-full" alt="banner-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fullwidth">
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="wpb_wrapper">
                <div class="zorka-heading style1 ">
                    <div class="content-middle-inner">
                        <h2>SALE OFF</h2>
                        <p>Up to 50%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="wpb_wrapper">
                <div class="woocommerce shortcode-product columns-4      center  ">
                    <div data-col="4" class="product-listing woocommerce row clearfix columns-4 product-slider">
                        <div class="owl-carousel" data-plugin-options='{"items" :4,"pagination" : false, "navigation" : true}'>

                            @foreach (var item in listProductSale)
                            {
                                <div class="product type-product status-publish has-post-thumbnail first product-item-wrapper sale taxable shipping-taxable purchasable product-type-simple product-cat-autumn-collection product-cat-boat-shoes product-cat-brand-watch product-cat-briefcase product-cat-clothing product-cat-fashions product-cat-fashion-waist-packs product-cat-hanbags-wallets product-cat-hoodies product-cat-jean-men product-cat-jewelry-diamond product-cat-laptop-bags product-cat-shoes-boy product-cat-singles product-cat-watches product-cat-women product-tag-coach product-tag-men product-tag-men-clothes product-tag-products product-tag-shop product-tag-short-jean product-tag-woman-clothes instock">
                                    <div class="product-item-inner">
                                        <div class="product-thumb">
                                            <div class="product-item-feature">
                                                <div class="on-sale"><span>-@item.Sale%</span></div>
                                            </div>
                                            <div class="product-images-hover change-images">
                                                <div class="product-thumb-primary">
                                                    <img width="390" height="520" src=@Url.Content(item.MainImage) class="attachment-shop_catalog wp-post-image main-image-product" alt="product-23">
                                                </div>
                                                
                                            </div>
                                            <a class="product-link" href="/san-pham/@item.MetaTitle/@item.ID"></a>
                                        </div>
                                        <a class="product-name" href="/san-pham/@item.MetaTitle/@item.ID">@item.Name</a>
                                        <span class="price">
                                            <ins><span class="amount">&dollar;@(item.Price * (100 - item.Sale) / 100)</span></ins>
                                            <del><span class="amount">&dollar;@item.Price</span></del>
                                        </span>
                                        <div class="product-button clearfix">
                                            <div class="product-button-inner">
                                                <div class="clear"></div>
                                                <div class="sale-off">
                                                    <button data-id="@item.ID" data-amount="1" id="btn-add-to-cart-@item.ID" class="button product_type_simple add_to_cart_button ajax_add_to_cart btn-add-to-cart">
                                                        <span class="pull-left"><img id="loader-@item.ID" class="loader-add-to-cart hide" src="~/Images/ajax-loader.gif" /></span>&nbsp;
                                                        <span> Add to cart</span>
                                                    </button>
                                                    <a href="/Cart/Index" id="view-cart-@item.ID" class="added_to_cart wc-forward view-cart hide" title="View Cart">
                                                        View Cart
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fullwidth">
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1427700579120">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="wpb_wrapper">
                <div class="container">
                    <div class="vc_row wpb_row vc_inner vc_row-fluid wrap-product-type">
                        <div class="wpb_column vc_column_container vc_col-sm-4 type-product-cart">
                            <div class="wpb_wrapper">
                                <div class="woocommerce shortcode-product columns-5     product-style-two center zorka-padding-15 " style="background-color:#ffffff">
                                    <div class="title-shortcode">
                                        <h2>Sản phẩm mới</h2>
                                    </div>
                                    <div data-col="5" class="product-listing woocommerce row clearfix columns-5">

                                        @foreach (var item in listProductNew)
                                        {
                                            <div class="product type-product status-publish has-post-thumbnail first product-item-wrapper sale taxable shipping-taxable purchasable product-type-simple product-cat-autumn-collection product-cat-boat-shoes product-cat-brand-watch product-cat-briefcase product-cat-clothing product-cat-fashions product-cat-fashion-waist-packs product-cat-hanbags-wallets product-cat-hoodies product-cat-jean-men product-cat-jewelry-diamond product-cat-laptop-bags product-cat-shoes-boy product-cat-singles product-cat-watches product-cat-women product-tag-coach product-tag-men product-tag-men-clothes product-tag-products product-tag-shop product-tag-short-jean product-tag-woman-clothes instock">
                                                <div class="product-item-inner second-style">
                                                    <div class="product-thumb">
                                                        <div class="product-item-feature">
                                                            @if (item.Sale > 0)
                                                            {
                                                                <div class="on-sale"><span>-@item.Sale%</span></div>
                                                            }

                                                        </div>
                                                        <div class="product-images-hover change-images">
                                                            <div class="product-thumb-primary">
                                                                <img src=@Url.Content(item.MainImage) class="attachment-shop_catalog wp-post-image img-responsive" alt="product-23">
                                                            </div>
                                                           
                                                        </div>
                                                        <a class="product-link" href="/san-pham/@item.MetaTitle/@item.ID"></a>
                                                    </div>
                                                    <div class="product-info">
                                                        <a class="product-name" href="/san-pham/@item.MetaTitle/@item.ID">@item.Name</a>
                                                        <span class="price">
                                                            @if (item.Sale > 0)
                                                            {
                                                                <ins><span class="amount">&dollar;@(item.Price * (100 - item.Sale) / 100)</span></ins>
                                                            }

                                                            <del><span class="amount">&dollar;@item.Price</span></del>
                                                        </span>
                                                        <div class="product-button product-add-to-cart-icon clearfix">
                                                            <div class="wrap-btn-icon">
                                                                <button data-id="@item.ID" data-amount="1" id="btn-icon-@item.ID" data-toggle="tooltip"  data-placement="top"  title="Add To Cart" class="add_to_cart_btn btn-add-to-cart "></button>
                                                                <a href="/Cart/Index" id="view-cart-@item.ID" class="btn added_to_cart wc-forward view-cart hide" data-toggle="tooltip"  data-placement="top" title="View Cart">

                                                                </a>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="wpb_wrapper">
                                <div class="woocommerce shortcode-product columns-5     product-style-two center zorka-padding-15 " style="background-color:#ffffff">
                                    <div class="title-shortcode">
                                        <h2>Sản phẩm bán chạy</h2>
                                    </div>
                                    <div data-col="5" class="product-listing woocommerce row clearfix columns-5">

                                        @foreach (var item in listProductFeature)
                                        {
                                            <div class="product type-product status-publish has-post-thumbnail first product-item-wrapper featured downloadable taxable shipping-taxable purchasable product-type-simple product-cat-collections product-cat-fashions product-cat-hanbags-wallets product-cat-jean-men product-cat-jewelry-diamond product-cat-posters product-cat-singles product-tag-coach product-tag-comple product-tag-jean product-tag-men product-tag-men-clothes instock">
                                                <div class="product-item-inner second-style">
                                                    <div class="product-thumb">
                                                        <div class="product-images-hover change-images">
                                                            <div class="product-thumb-primary">
                                                                <img width="390" height="520" src=@Url.Content(item.MainImage) class="attachment-shop_catalog wp-post-image" alt="product-15">
                                                            </div>
                                                           
                                                        </div>
                                                        <a class="product-link" href="/san-pham/@item.MetaTitle/@item.ID"></a>
                                                    </div>
                                                    <div class="product-info">
                                                        <a class="product-name" href="/san-pham/@item.MetaTitle/@item.ID">@item.Name</a>
                                                        <span class="price">
                                                            <span class="amount">&dollar;@item.Price</span>
                                                        </span>
                                                        <div class="product-button product-add-to-cart-icon clearfix">
                                                            <div class="wrap-btn-icon">
                                                                <button data-id="@item.ID" data-amount="1" id="btn-icon-@item.ID" data-toggle="tooltip" data-placement="top" title="Add To Cart" class="add_to_cart_btn btn-add-to-cart "></button>
                                                                <a href="/Cart/Index" id="view-cart-@item.ID" class="btn added_to_cart wc-forward view-cart hide" data-toggle="tooltip" data-placement="top" title="View Cart">

                                                                </a>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="wpb_wrapper">
                                <div class="woocommerce shortcode-product columns-5     product-style-two center zorka-padding-15 " style="background-color:#ffffff">
                                    <div class="title-shortcode">
                                        <h2>Top rated</h2>
                                    </div>
                                    <div data-col="5" class="product-listing woocommerce row clearfix columns-5">

                                        @foreach (var item in listProductTopRate)
                                        {
                                            <div class="product type-product status-publish has-post-thumbnail first product-item-wrapper featured downloadable taxable shipping-taxable purchasable product-type-simple product-cat-collections product-cat-fashions product-cat-hanbags-wallets product-cat-jean-men product-cat-jewelry-diamond product-cat-posters product-cat-singles product-tag-coach product-tag-comple product-tag-jean product-tag-men product-tag-men-clothes instock">
                                                <div class="product-item-inner second-style">
                                                    <div class="product-thumb">
                                                        <div class="product-images-hover change-images">
                                                            <div class="product-thumb-primary">
                                                                <img width="390" height="520" src=@Url.Content(item.MainImage) class="attachment-shop_catalog wp-post-image" alt="product-15">
                                                            </div>
                                                           
                                                        </div>
                                                        <a class="product-link" href="/san-pham/@item.MetaTitle/@item.ID"></a>
                                                    </div>
                                                    <div class="product-info">
                                                        <a class="product-name" href="/san-pham/@item.MetaTitle/@item.ID">@item.Name</a>
                                                        <span class="price"><span class="amount">&dollar;@item.Price</span></span>
                                                        <div class="product-button product-add-to-cart-icon clearfix">
                                                            <div class="wrap-btn-icon">
                                                                <button data-id="@item.ID" data-amount="1" id="btn-icon-@item.ID" data-toggle="tooltip" data-placement="top" title="Add To Cart" class="add_to_cart_btn btn-add-to-cart "></button>
                                                                <a href="/Cart/Index" id="view-cart-@item.ID" class="btn added_to_cart wc-forward view-cart hide" data-toggle="tooltip" data-placement="top" title="View Cart">

                                                                </a>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="wpb_wrapper">
                <div class="zorka-heading style1 ">
                    <div class="content-middle-inner">
                        <h2>BLOG UPDATES</h2>
                        <p>Câu chuyện Zorka</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="wpb_wrapper">
                <div class="zorka-latest-post style1 ">
                    <div class="row">
                        <div class="latest-post-item  col-lg-6 col-md-6 col-sm-12  col-xs-12">
                            <div class="zorka-latest-post-image">
                                <div class="entry-thumbnail">
                                    <a href="" title="Zorka Men Spring/Summer Vacation">
                                        <img width="230" height="170" class="img-responsive" src="~/Images/blog-01-230x170.jpg" alt="Zorka Men Spring/Summer Vacation">
                                    </a>
                                </div>
                            </div>
                            <div class="zorka-latest-post-content">
                                <a class="zorka-latest-post-title" href="" rel="bookmark" title="Zorka Men Spring/Summer Vacation">Thời trang thể thao ở Zorka </a>
                                <span class="zorka-latest-post-date zorka-latest-post-meta">
                                    <a href="" rel="bookmark" title="Zorka Men Spring/Summer Vacation"> 26 tháng 4, 2015 </a>
                                </span>
                                <span class="zorka-latest-post-author zorka-latest-post-meta"><a href="">Quản trị viên</a></span>
                                <span class="zorka-latest-post-comment-count zorka-latest-post-meta">
                                    <a href="" title="Comment on Zorka Men Spring/Summer Vacation">0 Bình luận</a>
                                </span>
                                <p>Đến với Zorka, bạn sẽ được tư vấn về thời trang phù hợp cho bạn, thỏa thích chọn đồ mà không lo về giá cả, bạn còn chần chờ gì nữa? Hãy đến với Zorka ngay hôm nay!</p>
                            </div>
                        </div>
                        <div class="latest-post-item  col-lg-6 col-md-6 col-sm-12  col-xs-12">
                            <div class="zorka-latest-post-image">
                                <div class='owl-carousel' data-plugin-options='{"singleItem" : true, "pagination" : false, "navigation" : true, "autoHeight" : true}'>
                                    <div class="entry-thumbnail">
                                        <a href="" title="White Vintage Back Pack For Girl">
                                            <img width="230" height="170" class="img-responsive" src="~/Images/blog-02-230x170.jpg" alt="White Vintage Back Pack For Girl">
                                        </a>
                                    </div>
                                    <div class="entry-thumbnail">
                                        <a href="" title="White Vintage Back Pack For Girl">
                                            <img width="230" height="170" class="img-responsive" src="~/Images/blog-05-230x170.jpg" alt="White Vintage Back Pack For Girl">
                                        </a>
                                    </div>
                                    <div class="entry-thumbnail">
                                        <a href="" title="White Vintage Back Pack For Girl">
                                            <img width="230" height="170" class="img-responsive" src="~/Images/blog-06-230x170.jpg" alt="White Vintage Back Pack For Girl">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="zorka-latest-post-content">
                                <a class="zorka-latest-post-title" href="" rel="bookmark" title="White Vintage Back Pack For Girl">Thời trang cho cả bé yêu của bạn</a>
                                <span class="zorka-latest-post-date zorka-latest-post-meta">
                                    <a href="" rel="bookmark" title="White Vintage Back Pack For Girl"> 28 tháng 4, 2016 </a></span>
                                <span class="zorka-latest-post-author zorka-latest-post-meta"><a href="">Linh Chi</a></span>
                                <span class="zorka-latest-post-comment-count zorka-latest-post-meta">
                                    <a href="" title="Comment on White Vintage Back Pack For Girl">0 Bình luận</a>
                                </span>
                                <p>Vừa có thể chọn đồ cho mình, lại có thể trưng diện cho bé yêu. Thật tuyệt vời!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fullwidth">
    <div data-vc-parallax="1.5" class="vc_row wpb_row vc_row-fluid vc_custom_1444360272531 vc_general vc_parallax vc_parallax-content-moving">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="wpb_wrapper">
                <div class="zorka-mailchimp style1  ">
                    <div class="content-middle-inner">
                        <i class="pe-7s-mail"></i>
                        <h5>HÃY ĐẾN ZORKA NGAY HÔM NAY</h5>
                        <p>Thời trang &amp; Phụ kiện hot từ Hàn Quốc</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fullwidth">
    <div class="vc_row wpb_row vc_row-fluid margin-bottom-40 margin-top-40">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="wpb_wrapper">
                <div class="zorka-partner-carousel   container">
                    <div class="owl-carousel" data-plugin-options='{"items" : 5, "autoPlay": false,"pagination": false}'>
                        <div class="content-middle-inner"><img width="114" height="96" src="~/Images/partner1.png" class="attachment-full" alt="partner1"></div>
                        <div class="content-middle-inner"><img width="115" height="96" src="~/Images/partner2.png" class="attachment-full" alt="partner2"></div>
                        <div class="content-middle-inner"><img width="115" height="96" src="~/Images/partner3.png" class="attachment-full" alt="partner3"></div>
                        <div class="content-middle-inner"><img width="115" height="96" src="~/Images/partner4.png" class="attachment-full" alt="partner4"></div>
                        <div class="content-middle-inner"><img width="115" height="96" src="~/Images/partner5.png" class="attachment-full" alt="partner5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fullwidth">
    <div class="vc_row wpb_row vc_row-fluid margin-bottom-50">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="wpb_wrapper">
                <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text"><span class="vc_sep_holder vc_sep_holder_l"><span style="border-color:#eeeeee;" class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span style="border-color:#eeeeee;" class="vc_sep_line"></span></span></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="vc_row wpb_row vc_row-fluid margin-bottom-20 column-equal-height">
        <div class="col-md-4 col-sm-12 col-xs-12 margin-bottom-30 wpb_column vc_column_container vc_col-sm-4">
            <div class="wpb_wrapper">
                <div class="zorka-icon-box style3 ">
                    <a class="zbox-icon" href=""><i class="pe-7s-alarm"></i></a>
                    <a class="zbox-title" href="">MỞ CỬA CÁC NGÀY TRONG TUẦN</a>
                    <p>8AM : 10PM</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 margin-bottom-30 wpb_column vc_column_container vc_col-sm-4">
            <div class="wpb_wrapper">
                <div class="zorka-icon-box style3 ">
                    <a class="zbox-icon" href=""><i class="pe-7s-medal"></i></a>
                    <a class="zbox-title" href="">25% OFF WOMEN T-SHIRT</a>
                    <p>Từ 1/6 - 30/6</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 margin-bottom-30 wpb_column vc_column_container vc_col-sm-4">
            <div class="wpb_wrapper">
                <div class="zorka-icon-box style3 ">
                    <a class="zbox-icon" href=""><i class="pe-7s-world"></i></a>
                    <a class="zbox-title" href="">MIỄN PHÍ VẬN CHUYỂN</a>
                    <p>Free shipping</p>
                </div>
            </div>
        </div>
    </div>
</div>

