@model PagedList.IPagedList<Model.ViewModels.OrderViewModel>
@using PagedList.Mvc
@{
    ViewBag.Title = "Quản lý Đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section breadcrumb {
    <section class="content-header">
        <h4>Quản lý Đơn hàng</h4>
        <ol class="breadcrumb">
            <li><a href="/Admin/Home"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
            <li class="active">Quản lý Đơn hàng</li>
        </ol>
    </section>
}
    <div class="clearfix"></div>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"> Danh sách Đơn hàng</h3>
                <div class="box-tools">
                    @using (Html.BeginForm("Index", "OrderProduct", FormMethod.Get))
                    {
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" id="txtSearch" class="form-control pull-right" value="@ViewBag.Keyword" placeholder="Nhập từ khóa..." name="keyword">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table">

                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Người mua</th>
                            <th>Địa chỉ</th>
                            <th>SĐT</th>
                            <th>Mã sp</th>
                            <th>Tên sản phẩm</th>
                            <th>Đơn giá</th>
                            <th>Số lượng</th>
                            <th>Trạng thái</th>
                            <th style="min-width: 100px;">Action</th>
                        </tr>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            var idx = (int)(@ViewBag.Page - 1) * 10 + i + 1;
                            <tr id="row_@Model[i].OrderID">
                                <td>@idx</td>
                                <td>@Model[i].ReceiverName </td>
                                <td>@Model[i].ReceiverAddress </td>
                                <td>@Model[i].ReceiverPhone</td>
                                <td>@Model[i].ProductCode</td>
                                <td>@Model[i].ProductName</td>
                                <td>@Model[i].ProductPrice</td>
                                <td>@Model[i].ProductAmount</td>
                                <td>@(Model[i].Status == 1 ? "Đã thanh toán" : "Chưa thanh toán")</td>
                                <td style="min-width: 100px;">
                                    <div class="btn-group">
                                        <a href="/Admin/Category/Edit/@Model[i].OrderID" class="btn btn-info btn-flat btn-action-first"><i class="fa fa-pencil"></i></a>
                                        @Ajax.ActionLink(" ", "Delete", new { @ID = Model[i].OrderID }, new AjaxOptions
                               {
                                   Confirm = "Bạn chắc chắn muốn xóa thông tin Đơn hàng ?",
                                   OnComplete = "$('#row_" + @Model[i].OrderID + "').remove()",
                                   HttpMethod = "Delete"
                               },
                               new { @class = "btn btn-danger btn-flat glyphicon glyphicon-trash  btn-action-second" })
                                    </div>

                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="pull-left">
                    <a href="/Admin/OrderProduct/Create" class="btn btn-primary">Thêm mới</a>
                </div>
                <div class="pull-right">
                    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, @keyword = @ViewBag.Keyword }))
                </div>


            </div>
        </div>

    </section>

