@model Model.EF.Product
@{
    ViewBag.Title = "Chi tiết Sản phẩm - OnlineShop";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var galleryImage = ViewBag.GalleryImage;
    var listRelateProduct = (List<Model.EF.Product>)ViewBag.ListRelateProduct;
    var category = (Model.EF.Category)ViewBag.Category;
}
@section jsFooter{
    <script src="~/Assets/Client/customJs/cart.js"></script>
}
<div class="breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="breadcrumbs">
                    <li><a rel="v:url" href="/HomeClient/Index" class="home"><i class="fa fa-home"></i></a></li>
                    <li><a rel="v:url" href="/HomeClient/Index">Zorka Shop</a></li>

                    <li><a rel="v:url" href="/danh-muc/@category.MetaTitle/@category.ID">@category.Name</a></li>
                    <li><span>@Model.Name</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<main role="main" class="site-content-product-single">
    <div class="container clearfix">
        <div id="product-213" class="post-213 product type-product status-publish has-post-thumbnail featured downloadable taxable shipping-taxable purchasable product-type-simple product-cat-accessories product-cat-boys product-cat-clothing product-cat-clothing-kid product-cat-clothings-boy product-cat-collections product-cat-fashions product-cat-fashion-waist-packs product-cat-hanbags-wallets product-cat-hat product-cat-jewelry product-cat-jewelry-diamond product-cat-laptop-bags product-cat-posters product-cat-shoes product-cat-shoes-boy product-cat-t-shirts product-cat-watches product-tag-fashion product-tag-men product-tag-men-clothes product-tag-short-jean product-tag-t-shirt instock">
            <div class="single-product-info">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="single-product-left-wrapper">
                            <div class="single-product-image-wrapper">
                                <div id="sync1" class="owl-carousel manual">
                                    <div>
                                        <a href=""
                                           itemprop="image" class="woocommerce-main-image zoom" title="" data-rel="prettyPhoto[product-gallery]"
                                           data-index="0">
                                            <img width="570" height="760" src=@Url.Content(Model.MainImage)
                                                 class="attachment-shop_single wp-post-image main-image-detail" alt="product-12" title="product-12">
                                        </a>
                                    </div>
                                    @foreach (var item in galleryImage)
                                    {
                                        <div>
                                            <a href=""
                                               itemprop="image" class="woocommerce-main-image zoom" title="" data-rel="prettyPhoto[product-gallery]"
                                               data-index="0">
                                                <img width="570" height="760" src=@Url.Content(item)
                                                     class="attachment-shop_single wp-post-image main-image-detail" alt="product-12" title="product-12">
                                            </a>
                                        </div>
                                    }

                                </div>
                                <div class="single-product-thumb-wrap product-image-total-2">
                                    <div id="sync2" class="owl-carousel manual">
                                        <div class="thumbnail-image">
                                            <a href=@Url.Content(Model.MainImage)
                                               itemprop="image" class="woocommerce-thumbnail-image" title="" data-index="0">
                                                <img width="180" height="180" src=@Url.Content(Model.MainImage)
                                                     class="attachment-shop_thumbnail wp-post-image gallery-img" alt="product-12"
                                                     title="product-12">
                                            </a>
                                        </div>
                                        @foreach (var item in galleryImage)
                                        {
                                            <div class="thumbnail-image">
                                                <a href=@Url.Content(item)
                                                   itemprop="image" class="woocommerce-thumbnail-image" title="" data-index="0">
                                                    <img width="180" height="180" src=@Url.Content(item)
                                                         class="attachment-shop_thumbnail wp-post-image gallery-img" alt="product-12"
                                                         title="product-12">
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                            (function ($) {
                                                "use strict";
                                                $(document).ready(function () {

                                                    var sync1 = $("#sync1", ".single-product-image-wrapper");
                                                    var sync2 = $("#sync2", ".single-product-image-wrapper");

                                                    sync1.owlCarousel({
                                                        singleItem: true,
                                                        slideSpeed: 100,
                                                        navigation: false,
                                                        navigationText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
                                                        pagination: false,
                                                        afterAction: syncPosition,
                                                        responsiveRefreshRate: 200
                                                    });

                                                    sync2.owlCarousel({
                                                        items: 6,
                                                        itemsDesktop: [1199, 6],
                                                        itemsDesktopSmall: [980, 6],
                                                        itemsTablet: [768, 4],
                                                        itemsTabletSmall: false,
                                                        itemsMobile: [479, 1],
                                                        pagination: false,
                                                        responsiveRefreshRate: 100,
                                                        navigation: false,
                                                        navigationText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
                                                        afterInit: function (el) {
                                                            el.find(".owl-item").eq(0).addClass("synced");
                                                        }
                                                    });

                                                    function syncPosition(el) {
                                                        var current = this.currentItem;
                                                        $("#sync2")
                                                            .find(".owl-item")
                                                            .removeClass("synced")
                                                            .eq(current)
                                                            .addClass("synced")
                                                        if ($("#sync2").data("owlCarousel") !== undefined) {
                                                            center(current);
                                                        }
                                                    }

                                                    $("#sync2").on("click", ".owl-item", function (e) {
                                                        e.preventDefault();
                                                        var number = $(this).data("owlItem");
                                                        sync1.trigger("owl.goTo", number);
                                                    });

                                                    function center(number) {
                                                        var sync2visible = sync2.data("owlCarousel").owl.visibleItems;
                                                        var num = number;
                                                        var found = false;
                                                        for (var i in sync2visible) {
                                                            if (num === sync2visible[i]) {
                                                                var found = true;
                                                            }
                                                        }

                                                        if (found === false) {
                                                            if (num > sync2visible[sync2visible.length - 1]) {
                                                                sync2.trigger("owl.goTo", num - sync2visible.length + 2)
                                                            } else {
                                                                if (num - 1 === -1) {
                                                                    num = 0;
                                                                }
                                                                sync2.trigger("owl.goTo", num);
                                                            }
                                                        } else if (num === sync2visible[sync2visible.length - 1]) {
                                                            sync2.trigger("owl.goTo", sync2visible[1])
                                                        } else if (num === sync2visible[0]) {
                                                            sync2.trigger("owl.goTo", num - 1)
                                                        }
                                                    }

                                                    $(document).on('change', '.variations_form .variations select,.variations_form .variation_form_section select,div.select', function () {
                                                        var variation_form = $(this).closest('.variations_form');
                                                        var current_settings = {},
                                                            reset_variations = variation_form.find('.reset_variations');
                                                        variation_form.find('.variations select,.variation_form_section select').each(function () {
                                                            // Encode entities
                                                            var value = $(this).val();

                                                            // Add to settings array
                                                            current_settings[$(this).attr('name')] = jQuery(this).val();
                                                        });

                                                        variation_form.find('.variation_form_section div.select input[type="hidden"]').each(function () {
                                                            // Encode entities
                                                            var value = $(this).val();

                                                            // Add to settings array
                                                            current_settings[$(this).attr('name')] = jQuery(this).val();
                                                        });

                                                        var all_variations = variation_form.data('product_variations');

                                                        var variation_id = 0;
                                                        var match = true;

                                                        for (var i = 0; i < all_variations.length; i++) {
                                                            match = true;
                                                            var variations_attributes = all_variations[i]['attributes'];
                                                            for (var attr_name in variations_attributes) {
                                                                var val1 = variations_attributes[attr_name];
                                                                var val2 = current_settings[attr_name];
                                                                if (val1 == undefined || val2 == undefined) {
                                                                    match = false;
                                                                    break;
                                                                }
                                                                if (val1.length == 0) {
                                                                    continue;
                                                                }

                                                                if (val1 != val2) {
                                                                    match = false;
                                                                    break;
                                                                }
                                                            }
                                                            if (match) {
                                                                variation_id = all_variations[i]['variation_id'];
                                                                break;
                                                            }
                                                        }

                                                        if (variation_id > 0) {
                                                            var index = parseInt($('a[data-variation_id="' + variation_id + '"]', '#sync1').data('index'), 10);
                                                            if (!isNaN(index)) {
                                                                sync1.trigger("owl.goTo", index);
                                                            }
                                                        }
                                                    });
                                                });
                                            })(jQuery);
                            </script>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class=" summary-product entry-summary">
                            <h1 itemprop="name" class="product_title entry-title">@Model.Name</h1>
                            <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                <p class="price">&dollar;<span class="amount" id="price-product-@Model.ID">@Model.Price</span></p>
                            </div>
                            <div class="product-single-short-description" itemprop="description">
                                <p>
                                    @Model.Description
                                </p>
                            </div>
                            <div class="cart wrap-add-to-cart-detail product-listing woocommerce">
                                <div class="quantity pull-left wrap-input-detail">
                                    <button class="btn-number btn-minus" data-type="minus">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <input data-id="@Model.ID" type="number" min="0" id="amount_@Model.ID" name="amount_@Model.ID" value="1" title="Qty" class="input-text qty text" size="4">
                                    <button data-input="#amount_@Model.ID" class="btn-number btn-plus" data-type="plus">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                                <button data-id="@Model.ID" data-amount="1" id="btn-add-to-cart-@Model.ID" class="button product_type_simple add_to_cart_button ajax_add_to_cart btn-add-to-cart">
                                    <span class="pull-left"><img id="loader-@Model.ID" class="loader-add-to-cart hide" src="~/Images/ajax-loader.gif" /></span>&nbsp;
                                    <span> Add to cart</span>
                                </button>
                                <div style="margin-left: 127px !important;width: 137px !important;">
                                    <a href="/Cart/Index" id="view-cart-@Model.ID" class="added_to_cart wc-forward view-cart hide" title="View Cart" >
                                        View Cart
                                    </a>
                                </div>
                                
                            </div>
                            <div class="product_meta">
                                <span class="product-stock-status-wrapper"><label>Trạng thái:</label> <span class="product-stock-status" itemprop="stock">Đang bán</span></span>
                                <span class="posted_in"><label>Danh mục:</label> <a href="" rel="tag">@category.Name</a></span>
                                <span class="posted_in"><label>Tag:</label> @Model.Tag</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="related products">
                <h2>Sản phẩm liên quan</h2>
                <div data-col="4" class="product-listing woocommerce row clearfix columns-4 product-slider">
                    <div class="owl-carousel" data-plugin-options='{"items" :4,"pagination" : false, "navigation" : true}'>

                        @foreach (var item in listRelateProduct)
                        {
                            <div class="product type-product status-publish has-post-thumbnail first product-item-wrapper taxable shipping-taxable purchasable product-type-variable product-cat-autumn-collection product-cat-collections product-cat-fashions product-cat-hanbags-wallets product-cat-jean-men product-cat-jewelry-diamond product-cat-singles product-tag-black-coach product-tag-coach product-tag-fashion product-tag-woman-clothes has-default-attributes has-children instock">
                                <div class="product-item-inner">
                                    <div class="product-thumb">
                                        <div class="product-images-hover change-images">
                                            <div class="product-thumb-primary">
                                                <img width="390" height="520" src=@Url.Content(item.MainImage)
                                                     class="attachment-shop_catalog wp-post-image main-image-product" alt="product-13">
                                            </div>
                                        </div>
                                        <a class="product-link" href="/san-pham/@item.MetaTitle/@item.ID"></a>
                                    </div>
                                    <a class="product-name" href="/san-pham/@item.MetaTitle/@item.ID">@item.Name</a>
                                    <span class="price">
                                        <span class="amount">&dollar;@item.Price</span>
                                    </span>
                                    <div class="product-button clearfix">
                                        <div class="product-button-inner">
                                            <div class="clear"></div>
                                            <button data-id="@item.ID" data-amount="1" id="btn-add-to-cart-@item.ID" class="button product_type_simple add_to_cart_button ajax_add_to_cart btn-add-to-cart">
                                                <span class="pull-left"><img id="loader-@item.ID" class="loader-add-to-cart hide" src="~/Images/ajax-loader.gif" /></span>&nbsp;
                                                <span> Add to cart</span>
                                            </button>
                                            <a href="/Cart/Index" id="view-cart-@item.ID" class="added_to_cart wc-forward view-cart hide" title="View Cart">
                                                View Cart
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
